#package.json
patches
node_modules
docs
.hugo_build.lock
hugo_stats.json
static/images/favicon*
static/images/kleiderbuegel.png
static/images/header.svg
static/pdfjs/**
resources
content/**/ogPreview*.*g
**/.DS_Store
assets/css
static/fonts
static/images/geomarker.svg
static/images/card.svg
static/images/marker-base.svg
static/images/preview-template.svg
data/stats.json
content/post/*/front/*
content/post/*/top/*
content/post/*/back/*
content/post/**/vips-properties.xml
pagefind/
content/post/*/front.svg
content/post/*/top.svg
content/post/*/back.svg

pnpm-lock.yaml
