[submodule "redirects/xn--kleiderbgel-06a41a"]
	path = redirects/xn--kleiderbgel-06a41a
	url = https://github.com/cmahnke/xn--kleiderbgel-06a41a.git
[submodule "redirects/kleiderbuegel-qmb"]
	path = redirects/kleiderbuegel-qmb
	url = https://github.com/cmahnke/kleiderbuegel-qmb.git
[submodule "redirects/kleiderbuegel-06a41a"]
	path = redirects/kleiderbuegel-06a41a
	url = https://github.com/cmahnke/kleiderbuegel-06a41a.git
[submodule "themes/projektemacher-base"]
	path = themes/projektemacher-base
	url = https://github.com/cmahnke/projektemacher-base.git
[submodule "themes/hugo-xml-exporter"]
	path = themes/hugo-xml-exporter
	url = https://github.com/cmahnke/hugo-xml-exporter.git
