@use "sass:color";

@import "footer";
/* Icons */
@import "icons";
@import "fonts/nunito";
@import "fonts/libre-baskerville";

@import "ol-iiif";
@import "iframe-consent";
@import "map";
@import "kleiderbuegel-map";

@import "flags/flags";

/* Fonts */
$font-color-heading: #342211;
$font-color-body: #412b15;

/* Content area */
$content-width: 80%;
$post-max-width: 64rem;
$border-radius: 1rem;
/* $max-width: 64em; */
$max-width: 90em;
$content-bg-color: rgba(255, 255, 255, 0.7);
$heading-font: 'Libre Baskerville', serif;

/* Background settings */
$wood-texture-opacity: 0.5;

@import "textures/wood";
$background: $wood-light;
@import "swiper-slider";
@import "pagefind";
@import "table";
@import "cabinet";

html {
    background: url($background);

    /* background-repeat: no-repeat; */
    background-position: top;
    background-size: 100%;

    /* background-color: #d6bd9c; */
}

h1,
h2,
h3,
h4 {
    /*
    font-family: $heading-font;
    font-style: italic;
    */
    color: $font-color-heading;
}


.lang-switch {
  font-size: small;
  display: inline-flex;
  flex-direction: column;
  align-self: center;
  padding-left: 1rem;

  &:before {
    width: 2rem;
    aspect-ratio: 4 / 3;
    content: '';
    display: block;
    filter: saturate(30%);
    align-self: center;
    margin-bottom: .4rem;
  }

  &.de:before {
    background-image: $flag-de;
  }

  &.en:before {
    background-image: $flag-gb;
  }

}

body {
    margin: unset;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    color: $font-color-body;
    min-height: 100vh;

    a,
    a:hover,
    a:visited {
        text-decoration: none;
        color: $font-color-body;
    }

    &.meta {
      h1,
      h2,
      h3 {
        margin: unset;
      }
    }

    &.about {
        .content {
            background-position: 97% 99%;
            background-image: url("/images/cm.svg");
            background-repeat: no-repeat;

            h1,
            h2,
            h3 {
                font-family: $heading-font;
                font-style: italic;
            }

            p,
            ul,
            h1,
            h2,
            h3,
            .tagcloud {
                text-align: left !important;
                margin: auto;
                padding: unset;
                width: unset;
            }

            ul,
            h1,
            h2,
            h3 {
              padding-bottom: .6em !important;
            }

            ul {
              li p,
              ul {
                margin: unset;
              }
            }

            .tagcloud {
              margin: 1em auto;
            }

            p {
              margin: .6em auto;
            }

            img {
                margin: 3em auto;
                max-width: 50%;
                display: block;
            }

            @media screen and (max-width: 740px) {
                p,
                ul,
                h1,
                h2,
                h3,
                .tagcloud {
                    width: unset;
                }

                img {
                    margin: 1.5em auto;
                    max-width: 100%;
                }
            }
        }
    }

    &.meta {
        font-size: larger;

        .number {
            text-align: center;
        }

        .post-title {
          font-family: $heading-font;
          font-style: italic;
          align-self: flex-start;
          text-align: left !important;
        }

        h1  {
            width: 90%;
            margin: auto;
            padding-bottom: .6em !important;
        }

        p,
        h1,
        h2,
        h3 {
            width: 90%;
            /*margin: auto;*/
            padding-bottom: .6em !important;
        }
    }
}

.header-logo {
    margin: 1rem;
}

strong {
    font-weight: 900;
}

#head {
    text-align: center;
    color: #654321;
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
    font-weight: 400;
    font-size: larger;

    @media screen and (min-width: 740px) {
      background-color: color-mix(in srgb, color-mix(in srgb, #cbb197 25%, white), transparent);
      padding-bottom: 1.4rem;
      display: flex;
      align-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      font-size: x-large;
      /*
      width: $content-width;
      padding: auto;
      justify-content: space-between;
      */


      .header-logo {
        height: 8rem;
        margin-bottom: unset;
      }

      .menu {
        align-content: center;
      }

      .current.navigation-link {
        position: relative;

        &:before {
          position: absolute;
          left: -.1rem;
          top: .9rem;
          content: '▸';
        }
      }
    }

    nav.top {
        padding-top: 2em;
        padding-bottom: 1em;
        display: flex;
        flex-direction: row;
        align-content: center;
        flex-wrap: wrap;

        .navigation-link {
            padding: 1rem;
        }
    }

    h1 {
        margin-bottom: 1.6em;
    }
}

@media screen and (max-width: 740px) {
    #head {
      background-color: rgba(0, 0, 0, .2);

        nav.top {
            padding-top: 1em;
            padding: 1em;
            justify-content: center;
        }

        .header-logo {
            box-sizing: border-box;
            max-width: calc(100% - 2rem);
        }
    }

    body {
        &.about {
            .content {
                background-position: 95% 1%;
                background-image: url("/images/cm.svg");
                background-repeat: no-repeat;
                background-size: 30%;
            }
        }
    }
}

#schrank {
  /*padding-top: 1rem;*/
  position: relative;
}

.kleiderstange {
    height: 1.1em;
    background-image: url("/images/rod.png");
    background-repeat: no-repeat;
    background-size: 100vw 25px;
    margin-bottom: 1.5em;

    &.home {
        width: 100vw;
        margin-bottom: unset;
        position: absolute;
        top: 2em;
    }
}

#klamotten {
    padding-top: 1.2rem;
    overflow-y: hidden;
    overflow-x: hidden;
    max-width: 100vw;

    ul {
        width: 80%;
    }
}

.buegel {
    width: 300px;
    transition: 0.2s;

    &:hover {
        transform: scale(1.1);
    }
}

$kleidungsstueck-border-radius: $border-radius;

#kleidungsstueck {
    width: 75%;
    margin: auto;
    transition: 0.2s;
    border-radius: $kleidungsstueck-border-radius;
    background-color: rgba(242, 238, 203, 0.5);
    display: none;

    .kleiderstange {
        display: none;
    }

    &.active {
        padding-top: 1em;
        display: block;
    }

    .post.hanger {
        margin: auto auto 2em;

        .content {
            /* width: 80%; */
            position: relative;
            padding-bottom: 1em;
            font-family: 'Raleway', sans-serif;

            p {
                text-align: center;
                font-size: larger;
            }

            .post-title {
                display: none;
            }

            .close-hanger {
                display: block;
                position: absolute;
                padding: 1.5em;
                top: 1em;
                right: 2.5em;
                border: 0;
                cursor: pointer;
                border-radius: 3px;
                background-image: url($close-dark);
                background-size: 80% 80%;
                background-repeat: no-repeat;
                background-position: center;
            }

            .close-hanger:hover {
                transform: scale(1.1);
                transition: 0.1s;
            }

            .notes {
                margin: 0 3em;
                margin-top: 2em;
            }
        }

        .meta {
            width: unset;
            background-color: rgba(214, 189, 136, 0.6);
            border-bottom-right-radius: $kleidungsstueck-border-radius;
            border-bottom-left-radius: $kleidungsstueck-border-radius;

            .number {
                text-align: center;
                margin: auto;
                display: block;
            }
        }
    }
}

@media screen and (max-width: 740px) {
    #kleidungsstueck {
        width: 90%;
    }
}


.content {
  .additional-content {
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem 2rem;

    .additional-header {
      font-size: larger;
    }
  }
}

#main {
    h1 {
        text-align: center;
        margin-top: 0;
        padding: 2rem 0;
    }

    .post-list {
        box-sizing: border-box;
        max-width: $max-width;
        margin: auto;
        width: 80%;

        @media screen and (max-width: 740px) {
            width: 90%;
            max-width: unset;
        }

        .heading-back,
        .heading-front,
        .heading-top {
          text-align: left;
          font-style: italic;
          padding-left: 1rem;
          width: 90%;
          font-family: $heading-font;
        }

        .kleiderstange {
            display: none;
        }

        .post {
            .content {
                margin: auto;
                border-top-right-radius: $border-radius;
                border-top-left-radius: $border-radius;

                .hanger-content {
                    font-weight: bolder;
                }


            }
        }

        .meta {
            border-bottom-right-radius: $border-radius;
            border-bottom-left-radius: $border-radius;
            margin-bottom: 1.5em !important;
        }
    }

    &>.post {
        max-width: $max-width;
        margin: auto;
        width: 80%;

        @media screen and (max-width: 740px) {
          max-width: 90%;
        }
    }

    .error404 {
        h1,
        p {
            text-align: center;
        }

        img {
            display: block;
            max-width: 60%;
            margin: 3em auto;
        }
    }

    .post {
        &.hanger,
        &.text {
          /*
            max-width: $post-max-width;
            margin: auto;
          */

            h2,
            p {
                margin: 0 1rem;
                padding-top: 1rem;
                padding-bottom: 1rem;
            }
        }

        &.weekly {
          background-color: hsla(0, 0%, 100%, .7) !important;
          box-sizing: border-box;
          border-radius: $border-radius;
        }

        &.hanger p {
            text-align: center;
            font-size: larger;
        }

        .content {
            background-color: $content-bg-color;
            border-top-right-radius: $border-radius;
            border-top-left-radius: $border-radius;
            /* width: 80%; */
            margin: auto;
            box-sizing: border-box;
            padding: 1.5em;

            @media screen and (max-width: 740px) {
                padding: .6rem;
            }

            .close-hanger {
                display: none;
            }

            .hanger-img {
                max-width: calc(100% - 2em);
                padding: 1em;
            }
        }

        .meta {
            font-size: larger;
            background-color: $content-bg-color;
            box-sizing: border-box;
            /* width: 80%; */
            padding: 1em 2.5em;
            display: flex;
            margin: auto;
            flex-wrap: wrap;

            .date {
                float: left;

                @media screen and (max-width: 740px) {
                  float: unset;
                  text-align: center;
                }
                /* width: 15% */
            }

            .number {
                text-align: center;
            }

            .meta-spacer {
                flex-grow: 1;
            }

            .tags {
                text-align: right;
                width: 15%;
                min-width: fit-content;
                list-style-type: none;
                margin-block-end: unset;
                padding-inline-start: unset;

                .tag {
                  a:before {
                    content: '#';
                  }
                }
            }

            .permalink {
                margin-top: .8rem;
                flex-basis: 100%;
                text-align: end;
                font-size: small;
            }
        }
    }

    .footer {

        font-weight: 400;
        margin: auto;
        padding: 1.5em 1.5em 0.5em;
        width: 80%;
        background-color: $content-bg-color;
        box-sizing: border-box;
        max-width: $max-width;

        .footer-container {
            margin: auto;
            width: 70%;
            border-top-color: $font-color-body;
            border-top-width: 1px;
            border-top-style: solid;
            margin-top: 1rem;
            font-size: unset;

            p {
                margin: 0.4rem;
                text-align: center;
            }
        }
    }

    @media screen and (max-width: 740px) {
        .post {
            .content {
                width: 95%;
            }

            .meta {
                width: 95%;
            }
        }

        .post.spacer {
            width: 95%;
        }

        .footer {
            width: 90%;
            max-width: unset;

            .colophon {
                width: 90%;
            }
        }
    }
}

.home #main {
    .post-list {
        background-color: $content-bg-color;
        margin-top: 1.5em;
        margin-right: auto;
        margin-left: auto;
        width: 80%;
        padding: 1.5em;
        border-top-right-radius: $border-radius;
        border-top-left-radius: $border-radius;
        min-height: 100%;
        text-align: justify;
        max-width: $max-width;

        @media screen and (max-width: 740px) {
          padding: .6rem;
        }

        .kleiderstange {
            display: none;
        }
    }

    .post {
        background-color: unset;

        .content {
            width: 100%;
            padding: unset;
            background-color: unset;
            margin: unset;
            border-radius: 5px;

        }

        .meta {
            background-color: unset;
            width: unset;
        }
    }

    @media screen and (max-width: 740px) {
        .post-list {
            width: 90%;
            max-width: unset;
            padding: .6rem;
        }
    }
}

.post.spacer {
    border-top-right-radius: $border-radius;
    border-top-left-radius: $border-radius;
    height: $border-radius;
    background-color: $content-bg-color;
    width: 80%;
    margin: auto;
}

.tagcloud {
    margin: 1em auto;
    padding: 1em;
    border-radius: 5px;
    line-height: initial;
    background-color: rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    a {
        text-decoration: none;
        border-bottom: unset;
    }

    .cloud-tag {
        padding: 0.4rem;
        display: inline-block;
    }
}

.source {
    font-size: small;
    text-align: right;
    margin: 1.5em;
    color: color.adjust($font-color-body, $lightness: 20%);

    a {
        color: color.adjust($font-color-body, $lightness: 20%);
    }
}

.navi {
    .nextContainer,
    .previousContainer {
      @media screen and (min-width: 768px) {
        min-width: 12rem
      }
    }

    .pagination {
        display: flex;
        flex-direction: row;
        margin-bottom: 1em;
        width: 80%;
        @media screen and (min-width: 768px) {
          width: 50%;
        }
        margin: auto;
        justify-content: space-between;
            margin-bottom: 1.6rem;
    }

    #page {
        display: block;
    }
}

.meta .content {
  display: flex;
  flex-direction: column;
  align-items: center;

  p, ul, h2, h3, h4, .iframe-wrapper {
    width: 100%;

  }
}

p.small {
    font-size: smaller;
    text-align: end;
}

.possibly-unpublished {
    font-weight: bold;
    font-size: larger;
    text-align: center;
}

.all-hangers {
  max-width: 100vw;

  thead {
    background-color: hsla(0, 0%, 100%, .7);
  }

  p {
    margin: unset !important;
    margin-block-start: unset;
    margin-block-end: unset;
  }

  td {
    padding: .2rem;
    word-break: break-all;
    background-color: hsla(0, 0%, 100%, .7);

    &.id {
      word-break: unset;
    }
  }

}

.download-link {
  text-align: end;
}

.section-head {
  padding: 1.5em;
  width: 90%;
  border-radius: $border-radius;
  background-color: hsla(0, 0%, 100%, .7);
  margin: auto;
  margin-bottom: 1.4rem;
  max-width: $max-width;
  box-sizing: border-box;

  .section-head-title {
    margin: 0 1rem;
    text-align: center;
    font-size: xxx-large;
  }

  .section-content {
    padding: 1.5em;
  }
}

.statistics {
  padding-inline-start: 4.6em;
}

.meta .post .content .hanger-content {
  padding: 2rem 0;
  margin: auto;
  width: 90%;
}

img.hanger-img {
  filter: drop-shadow(2px 2px 2px #222);
  transition: all 1s;

  &:hover {
    filter: drop-shadow(5px 5px 5px #222);
  }
}
