.iframe-wrapper {
  .opt-in-overlay .opt-in-overlay-content {
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .5);
  }

  .switch-wrapper {
    .opt-in-switch .opt-in-slider {
      background-color: rgba(255, 255, 255, .5);

      &::before {
        background-color: #ccc;
      }
    }
  }
}

.map-wrapper {
  border-radius: 5px;

  @media screen and (min-width: 740px) {
    min-height: 60vh;
  }

  canvas {
    border-radius: 1rem;
  }

  .ol-popup {
    font-family: 'Nunito', sans-serif;
    min-width: 240px !important;

    h1 {
      padding: .6rem 0 1rem 0 !important;
    }
    .geojsonPopup {

      .content {
        padding: unset !important;
        padding-bottom: .6rem !important;

        p {
          margin-block-start: unset;
          margin-block-end: unset;
        }
      }
    }
  }
}
