.leaflet-custom-marker-cluster .cluster-count {
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    position: relative;
    top: -40px;
    left: 2px;
    color: white;
    font-weight: bold;
    text-shadow: 
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px  1px 0 #000,
        1px  1px 0 #000;
}

.leaflet-custom-marker-cluster .cluster-count:before {
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 16px;
    height: 16px;
    background-color: white;
    opacity: 0.3;
    border-radius: 50%;
    z-index: -1;
}

.leaflet-custom-marker-cluster .cluster-count:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 32px;
    height: 32px;
    transform: translate(-50%, -50%);
    background-color: white;
    opacity: 0.7;
    border-radius: 50%;
    z-index: -1;
}
