@use 'sass:math';
@use "npm-fonts/bodoni-moda" as * with (
  $font-base-path: '../'
);
@use "npm-fonts/space-grotesk" as * with (
  $font-base-path: '../'
);
@use "leaflet/leaflet" as *;
@use "print-map" as *;

/*
  TODO:
  * Foot notes
    * In the collection
  * some leaders in references
  * Text alingment center for Top view
  * Map
    * Size
    * Marker cluster positions
*/

$heading-font: 'Bodoni Moda', times;
$body-font: 'Space Grotesk Variable', serif;

@page  {
  size: 210mm 210mm !important;
  margin-top: 1cm;
  margin-bottom: 1cm;
  /* marks: crop cross; */

  @footnote {
    float: bottom;
  }
}

@page :left {
  margin-left: 1cm;
  margin-right: 1.5cm;

  @bottom-right {
    content: counter(page);
    font-family: $body-font;
    vertical-align: middle;
  }
}

@page :right {
  margin-left: 1.5cm;
  margin-right: 1cm;

  @bottom-left {
    content: counter(page);
    font-family: $body-font;
    vertical-align: middle;
  }
}

@page nonr {

  @bottom-right {
    content: '';
  }

  @bottom-left {
    content: '';
  }
}

/*
 @-adapt-footnote-area {
  position: absolute;
  bottom: 1cm;
  right: 1,5cm;
  left: 1.5cm;
  height: 5cm;
  width: 100%;
 }
*/

.page {
  counter-reset: link;
  /*position: relative;*/
}

.recto,
.verso .two-sided .page:nth-child(2n) {
  .text {
    order: 1;
    text-align: left;

    .heading-top,
    .heading-front,
    .heading-back {
      text-align: end;
      margin-right: -1.5cm;
    }
  }

  .image {
    order: 2;
  }
}

.verso ,
.recto.two-sided .page:nth-child(2n),
.recto.two-sided .page:has(.hanger-back) {
  .text {
    order: 2;
    text-align: right;

    .heading-top,
    .heading-front,
    .heading-back {
      text-align: start;
      margin-left: -1.5cm;
    }

    ul {
      direction: rtl;
      padding-right: .5cm;
    }
  }

  .image {
    order: 1;
    transform: rotate(-180deg);
  }
}

.recto.two-sided:has(.hanger-back) {
  .image:has(.hanger-back) {
    transform: unset;
  }
}

body {
  font-family: $body-font;
  counter-reset: pageNumber;
}

article {

  &.entry {
    page: entry;
    position: relative;
    font-size: 9pt;

    .heading-top,
    .heading-front,
    .heading-back {
      font-variant: all-small-caps;
      margin-top: -.5cm;

      span {
        padding: 0 .2rem;
        border-radius: .2rem;
        background-color: white;

        @media screen {
          text-shadow: 0 0 10px white;
          padding: unset;
          border-radius: unset;
          background-color: unset;
        }
      }
    }

    .hanger-img {
      filter: drop-shadow(2px 2px 2px #222);
    }

    a,
    a:hover,
    a:visited {
      text-decoration: none;
      color: black;
    }

    .heading-back {
      bookmark-level: 3;
      -prince-bookmark-level: 3;
      bookmark-label: content(text);;
      -prince-bookmark-label: content(text);;
    }

    .page {
      display: flex;
      flex-direction: row;

      .text {
        display: flex;
        width: 38.2%;
        z-index: 100;
        flex-direction: column;
        position: relative;

        .heading-top {
          margin-top: auto;
        }

        .hanger-content {
          margin-bottom: auto;
        }

        .donation,
        .source {
          .additional-header {
            display: inline;

            &:after {
              content: ' ';
            }
          }
        }

        .additional-content {
          margin-bottom: auto;

          .doublesided {
            display: none;
          }

          .tag-content {
            p:has(+ ul) {
              font-weight: bold;
              margin-block-end: 3pt;
            }

            ul {
              margin-block-start: 3pt;
            }
          }
        }

        .hanger-back {
          margin-top: auto;
          align-self: flex-end;
          font-style: italic;
        }

        .heading-imprint,
        .additional-header,
        .heading-info {
          margin-left: .2cm;
          margin-right: .2cm;
        }

        .heading-imprint {
          margin-top: .2cm;;
          font-size: 12pt;
          font-style: italic;
        }

        .additional-header {
          font-weight: bold;
        }

        .heading-info {
          margin-bottom: .3cm;
        }

        ul, p {
          margin-block-start: 6pt;
          margin-block-end: 6pt;
        }
      }

      .image {
         width: 61.8%;
         height: 100vh;

        &:has(.hanger-top) {
          display: flex;

          .hanger-front{
            flex-grow: 1;
          }
          .hanger-top {
            width: fit-content;
          }
        }

        .hanger-front,
        .hanger-top,
        .hanger-back {
          height: inherit;
        }

      }
    }
  }

  .page {
    counter-increment: pageNumber;
    page-break-after: always;
    break-after: page;
  }

  &.singe-page {
    counter-increment: pageNumber;
    break-after: page;
    height: 100%;

    .post-title {
      bookmark-level: 1;
      -prince-bookmark-level: 1;
      bookmark-label: attr(data-title);
      -prince-bookmark-label: attr(data-title);
    }

  }

  .post-title {
    bookmark-level: 2;
    -prince-bookmark-level: 2;
    bookmark-label: content(text);
    -prince-bookmark-label: content(text);
  }

  .full-height-image-container {
    z-index: -10;
    display: flex;
    flex-direction: column;
    height: inherit;

    .hanger-img {
      height: 100%;
      object-fit: contain;
    }
  }
}

section {
  page-break-after: always;
  break-after: page;

  /*
  &.front-matter {
    height: 100%;
  }
  */
}

.page-number {
  content: counter(pageNumber);
}

h1, h2, h3 {
  font-family: $heading-font;
  font-weight: 200;
  margin-top: unset;
  margin-bottom: unset;
}

.page {
  height: 100vh;
}

section {
  &.indexes {
    bookmark-level: 1;
    -prince-bookmark-level: 1;
    bookmark-label: attr(data-section-title);
    -prince-bookmark-label: attr(data-section-title);
    font-size: 8pt;

    .index-heading {
      font-size: 22pt;
      margin-bottom: 6pt;
    }

    .index-container {
      margin-top: 6pt;

      .index-heading {
        bookmark-level: 2;
        -prince-bookmark-level: 2;
        bookmark-label: content(text);
        -prince-bookmark-label: content(text);
      }

      .sub-index {
        bookmark-level: 3;
        -prince-bookmark-level: 3;
        bookmark-label: attr(data-sub-heading-title);
        -prince-bookmark-label: attr(data-sub-heading-title);
      }

    }

    .index {
      columns: 2;
      gap: 5%;
      padding-inline-start: 0;
      margin-block-start: 0;
      margin-block-end: 0;

      &:not(.material) > li {
        break-inside: avoid-column;
      }
    }

    .description {
      font-style: italic;
      margin-left: .2cm;
    }

    .sub-index {
      padding-left: 14pt;
    }

    .index-entry {
      margin-left: 6pt;

      &> .title {
        margin-top: 6pt;
        margin-bottom: 3pt;
        font-weight: bold;
      }

      .index-sub-entry {
        a::after {
          content: leader(dotted) target-counter(attr(href), pageNumber);
        }
      }
    }

    a {
      text-decoration: none;
      color: black;
    }

    ul {
      list-style-type: none;
    }
  }
}

.footnote {
  float: footnote;
  word-break: break-all;
  overflow-wrap: break-word;
  display: inline;
  line-height: 1.5;
  font-size: 65%;
  counter-increment: link;

  &::footnote-marker {
    content: counter(link) ' ';
    list-style-position: inside;
    margin-right: 0.1cm;
  }

  &::footnote-call {
    content: counter(link);
    vertical-align: super;
    font-size: 65%;
  }
}

.singe-page {
  a,
  a:hover,
  a:visited {
    font-style: italic;
    color: black;
    text-decoration: none;
  }

  &.title {
    position: relative;
    page: nonr;

    .title-heading {
      position: absolute;
      display: flex;
      transform: rotate(90deg);
      width: 100vh;
      z-index: 10;
      top: 0;
      font-size: 2.2cm;
      left: 0;
      bottom: 0;
      align-items: flex-end;
      justify-content: center;
    }

    a {
      height: inherit;
    }

    .title-logo {
      display: flex;
      flex-direction: column;
      z-index: 10;
      opacity: .7;
      margin-block-start: 0;
      margin-block-end: 0;
      height: inherit;
      margin-inline-start: 0;
      margin-inline-end: 0;

      img {
        height: 100%;
        transform: rotate(90deg);
      }
    }

    .bg {
      list-style-type: none;
      padding-left: unset;
      margin: unset;
      overflow: clip;
      max-height: 100vh;
      font-family: $body-font;


      @for $i from 1 through 10 {
        li:nth-child(#{$i}) {
          z-index: #{'-' + $i};
          font-size: #{$i * 3}rem;
          opacity: #{1 - math.pow(math.log($i, 10), .25)};
          margin-bottom: #{($i - 1) * 1.6}rem;
          margin-right: #{($i - 1) * .8}rem;
          position: absolute;
          bottom: 0;
          right: 0;
          font-weight: #{(8 - $i) * 100};
        }
      }
    }
  }

  &.preface,
  &.acknowledgements,
  &.colophon {
    h1, h2 , h3 {
      text-align: center;
    }

    text-align: justify;
    hyphens: auto;
  }

  &.preface {

  }

  &.map {
    p {
      margin-block-start: .3cm;
      margin-block-end: .3cm;
    }
  }

  &.acknowledgements {

  }

  &.colophon {

  }

  &.back {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    page: nonr;

    figure {
      margin-block-start: 0;
      margin-block-end: 0;
      margin-inline-start: 0;
      margin-inline-end: 0;
    }

    img {
      object-fit: contain;
      aspect-ratio: 1/1;
      width: 5cm;
      min-width: 5cm;
    }

  }

}

nav[role="doc-toc"] {
  display: none;
}
