@use 'sass:math';
@use "npm-fonts/bodoni-moda" as * with (
  $font-base-path: '../'
);
@use "npm-fonts/space-grotesk" as * with (
  $font-base-path: '../'
);
@use "leaflet/leaflet" as *;
@use "print-map" as *;

/*
  TODO:
  * Foot notes
    * In the collection
  * Map
    * Tile positions
*/

$heading-font: 'Bodoni Moda', times;
$body-font: 'Space Grotesk Variable', serif;

@page  {
  size: 210mm 210mm !important;
  margin-top: 1cm;
  margin-bottom: 1cm;
  /* marks: crop cross; */

  @footnote {
    float: bottom;
  }
}

@page :left {
  margin-left: 1cm;
  margin-right: 1.5cm;

  @bottom-right {
    content: counter(page);
    font-family: $body-font;
    vertical-align: middle;
  }
}

@page :right {
  margin-left: 1.5cm;
  margin-right: 1cm;

  @bottom-left {
    content: counter(page);
    font-family: $body-font;
    vertical-align: middle;
  }
}

@page nonr {

  @bottom-right {
    content: '';
  }

  @bottom-left {
    content: '';
  }
}

@page entry-right {
  @-adapt-footnote-area {
    position: absolute;
    bottom: 1cm;
    right: 1cm;
    left: 1.5cm;
    height: 5cm;
    width: 38.2%;
  }
}

@page entry-left {
  @-adapt-footnote-area {
    position: absolute;
    bottom: 1cm;
    right: 1.1cm;
    left: 1cm;
    height: 5cm;
    width: 38.2%;
  }
}

.page {
  counter-reset: link;
  /*position: relative;*/
}

.recto,
.verso .two-sided .page:nth-child(2n) {
  page: entry-right;

  .text {
    order: 1;
    text-align: left;

    .heading-top,
    .heading-front,
    .heading-back {
      /*text-align: end;*/
      margin-right: -1.5cm;
      transform: rotate(90deg);
      right: 0;
    }
  }

  .image {
    order: 2;
  }
}

.verso ,
.recto.two-sided .page:nth-child(2n),
.recto.two-sided .page:has(.hanger-back) {
  page: entry-left;

  .text {
    order: 2;
    text-align: right;

    .heading-top,
    .heading-front,
    .heading-back {
      /*text-align: start;*/
      margin-left: -1.5cm;
      transform: rotate(-90deg);
      left: 0;
    }

    ul {
      direction: rtl;
      padding-right: .5cm;
    }
  }

  .image {
    order: 1;
    transform: rotate(-180deg);
  }
}

.recto.two-sided:has(.hanger-back) {
  .image:has(.hanger-back) {
    transform: unset;
  }
}

body {
  font-family: $body-font;
  counter-reset: pageNumber;
}

article {

  &.entry {
    page: entry;
    position: relative;
    font-size: 9pt;

    .hanger-img {
      filter: drop-shadow(2px 2px 2px #222);
    }

    a,
    a:hover,
    a:visited {
      text-decoration: none;
      color: black;
    }

    .heading-back {
      bookmark-level: 3;
      -prince-bookmark-level: 3;
      bookmark-label: content(text);;
      -prince-bookmark-label: content(text);;
    }

    .page {
      display: flex;
      flex-direction: row;

      .text {
        display: grid;
        grid-template-rows: 2fr 3fr 1fr 1fr;
        width: 38.2%;
        z-index: 100;
        flex-direction: column;
        position: relative;

        .heading-top,
        .heading-front,
        .heading-back {
          font-variant: all-small-caps;
          /*margin-top: -.5cm; */

          span {
            padding: 0 .2rem;
            border-radius: .2rem;
            background-color: white;

            @media screen {
              text-shadow: 0 0 10px white;
              padding: unset;
              border-radius: unset;
              background-color: unset;
            }
          }
        }

        .heading-top {
          margin-top: auto;
        }

        .hanger-content {
          margin-bottom: auto;
        }

        .donation,
        .source {
          .additional-header {
            display: inline;

            &:after {
              content: ' ';
            }
          }
        }

        .additional-content {
          margin-bottom: auto;

          .doublesided {
            display: none;
          }

          .tag-content {
            p:has(+ ul) {
              font-weight: bold;
              margin-block-end: 3pt;
            }

            ul {
              margin-block-start: 3pt;
            }
          }
        }

        .hanger-back {
          margin-top: auto;
          align-self: flex-end;
          font-style: italic;
        }

        .heading-imprint,
        .additional-header,
        .heading-info {
          margin-left: .2cm;
          margin-right: .2cm;
        }

        .heading-imprint {
          margin-top: .2cm;;
          font-size: 12pt;
          font-style: italic;
        }

        .additional-header {
          font-weight: bold;
        }

        .heading-info {
          margin-bottom: .3cm;
        }

        ul, p {
          margin-block-start: 6pt;
          margin-block-end: 6pt;
        }

        .text-content-top {
          position: relative;

          .heading-front,
          .heading-back {
            position: absolute;
          }
          .heading-back {
            right: unset;
          }

        }

        .text-content-center {
          position: relative;

          .heading-top {
            position: absolute;
            margin-left: -2.5cm;
          }
        }

        .text-content-bottom {
          position: relative;
          align-self: end;
        }
      }

      .image {
         width: 61.8%;
         height: 100vh;

        &:has(.hanger-top) {
          display: flex;

          .hanger-front{
            flex-grow: 1;
          }
          .hanger-top {
            width: fit-content;
          }
        }

        .hanger-front,
        .hanger-top,
        .hanger-back {
          height: inherit;
        }

      }
    }
  }

  .page {
    counter-increment: pageNumber;
    page-break-after: always;
    break-after: page;
  }

  &.singe-page {
    counter-increment: pageNumber;
    break-after: page;
    height: 100%;

    .post-title {
      bookmark-level: 1;
      -prince-bookmark-level: 1;
      bookmark-label: attr(data-title);
      -prince-bookmark-label: attr(data-title);
    }

  }

  .post-title {
    bookmark-level: 2;
    -prince-bookmark-level: 2;
    bookmark-label: content(text);
    -prince-bookmark-label: content(text);
  }

  .full-height-image-container {
    z-index: -10;
    display: flex;
    flex-direction: column;
    height: inherit;

    .hanger-img {
      height: 100%;
      object-fit: contain;
    }
  }
}

section {
  page-break-after: always;
  break-after: page;

  /*
  &.front-matter {
    height: 100%;
  }
  */
}

.page-number {
  content: counter(pageNumber);
}

h1, h2, h3 {
  font-family: $heading-font;
  font-weight: 200;
  margin-top: unset;
  margin-bottom: unset;
}

.page {
  height: 100vh;
}

.index {
  columns: 2;
  gap: 5%;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 8pt;
  list-style-type: none;

  &:not(.material) > li {
    break-inside: avoid-column;
  }

  ul {
    list-style-type: none;
  }

  .sub-index {
    padding-left: 14pt;
  }

  .index-entry {
    margin-left: 6pt;

    &> .title {
      margin-top: 6pt;
      margin-bottom: 3pt;
      font-weight: bold;
    }

    .index-sub-entry {
      a::after {
        content: leader(dotted) target-counter(attr(href), pageNumber);
      }
    }
  }

}

section {
  &.indexes {
    bookmark-level: 1;
    -prince-bookmark-level: 1;
    bookmark-label: attr(data-section-title);
    -prince-bookmark-label: attr(data-section-title);

    .index-heading {
      font-size: 22pt;
      margin-bottom: 6pt;
    }

    .index-container {
      margin-top: 6pt;

      .index-heading {
        bookmark-level: 2;
        -prince-bookmark-level: 2;
        bookmark-label: content(text);
        -prince-bookmark-label: content(text);
      }

      .sub-index {
        bookmark-level: 3;
        -prince-bookmark-level: 3;
        bookmark-label: attr(data-sub-heading-title);
        -prince-bookmark-label: attr(data-sub-heading-title);
      }

    }

    .description {
      font-style: italic;
      margin-left: .2cm;
    }




    a {
      text-decoration: none;
      color: black;
    }
  }
}

.footnote {
  /*float: footnote;*/
  word-break: break-all;
  overflow-wrap: break-word;
  line-height: 1.5;
  font-size: 65%;
  counter-increment: link;
  display: block;
  float-reference: column;
  float: block-end;

  a {
    color: black;
    text-decoration: none;
  }

  &::footnote-marker {
    content: counter(link) ' ';
    list-style-position: inside;
    margin-right: 0.1cm;
  }

  &::footnote-call {
    content: counter(link);
    vertical-align: super;
    font-size: 65%;
  }
}

.singe-page {
  a,
  a:hover,
  a:visited {
    font-style: italic;
    color: black;
    text-decoration: none;
  }

  &.title {
    position: relative;
    page: nonr;

    .title-heading {
      position: absolute;
      display: flex;
      transform: rotate(90deg);
      width: 100vh;
      z-index: 10;
      top: 0;
      flex-direction: column;
      left: 0;
      bottom: 0;
      align-items: flex-start;
      justify-content: flex-end;
 
      * {
        display: flex;
      }

      h1 {
        font-size: 2.2cm;
        align-self: center;
      }

      h2 {
        font-size: .8cm;

        &:nth-child(1) {
          align-self: flex-start;
          margin-bottom: -1cm;
        }

        &:nth-child(3) {
          align-self: flex-end;
          margin-top: -.4cm;
        }
      }
    }

    a {
      height: inherit;
    }

    .title-logo {
      display: flex;
      flex-direction: column;
      z-index: 10;
      opacity: .7;
      margin-block-start: 0;
      margin-block-end: 0;
      height: inherit;
      margin-inline-start: 0;
      margin-inline-end: 0;

      img {
        height: 100%;
        transform: rotate(90deg);
        margin-left: 1cm;
      }
    }

    .bg {
      list-style-type: none;
      padding-left: unset;
      margin: unset;
      overflow: clip;
      max-height: 100vh;
      font-family: $body-font;


      @for $i from 1 through 10 {
        li:nth-child(#{$i}) {
          z-index: #{'-' + $i};
          font-size: #{$i * 3}rem;
          opacity: #{1 - math.pow(math.log($i, 10), .25)};
          margin-bottom: #{($i - 1) * 1.6}rem;
          margin-right: #{($i - 1) * .8}rem;
          position: absolute;
          bottom: 0;
          right: 0;
          font-weight: #{(8 - $i) * 100};
        }
      }
    }
  }

  &.preface,
  &.acknowledgements,
  &.colophon {
    h1, h2 , h3 {
      text-align: center;
    }

    text-align: justify;
    hyphens: auto;
  }

  &.statistics {

    ul {
      font-size: 10pt;
      columns: 2;
      gap: 5%;
      padding-inline-start: 0;
      margin-block-start: 0;
      margin-block-end: 0;
      list-style-type: none;

      a {
        font-style: unset;
      }

      &>li {
        break-inside: avoid-column;

        p {
          font-weight: bold;
        }

        ul {
          margin-left: 6pt;
          margin-top: 6pt;
          columns: unset;

        }

      }
    }

  }

  &.preface {

  }

  &.map {
    p {
      margin-block-start: .3cm;
      margin-block-end: .3cm;
    }
  }

  &.acknowledgements {

  }

  &.colophon {

  }

  &.back {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    page: nonr;

    figure {
      margin-block-start: 0;
      margin-block-end: 0;
      margin-inline-start: 0;
      margin-inline-end: 0;
    }

    img {
      object-fit: contain;
      aspect-ratio: 1/1;
      width: 5cm;
      min-width: 5cm;
    }

  }

}

nav[role="doc-toc"] {
  display: none;
}

.print-status {
  font-size: xx-small;
  width: 100%;
  text-align: center;
}