@use "fonts/bodoni-moda" as *;
@use "fonts/space-mono" as *;

$heading-font: 'Bodoni Moda', times;
$body-font: 'Space Mono', serif;

@page  {
  size: 210mm 210mm !important;
  margin-top: 1cm;
  margin-bottom: 1cm;
  /* marks: crop cross; */
}

@page :left {
  margin-left: 1cm;
  margin-right: 2cm;

  article.entry .page {
    .text {
      order: 2;
      text-align: right;
    }

    .image {
      order: 1;
    }
  }
}

@page :right {
  margin-left: 2cm;
  margin-right: 1cm;

  article.entry .page {
    .text {
      order: 1;
      text-align: left;
    }

    .image {
      order: 2;
    }
  }
}


body {
  font-family: $body-font;
  counter-reset: pageNumber;
}

article {

  &.entry {
    counter-increment: pageNumber;
    page-break-after: always;
    break-after: page;
    position: relative;
    font-size: 9pt;

    .heading-top,
    .heading-front,
    .heading-back {

    }

    a,
    a:hover,
    a:visited {
      display: inline;
      text-decoration: none;
      color: black;
    }

    .page {
      display: flex;
      flex-direction: row;

      .text {
        display: flex;
        width: 38.2%;
        flex-direction: column;
      }

      .image {
         width: 61.8%;
         height: 100vh;
      }
    }
  }

  &.singe-page {
    counter-increment: pageNumber;
    break-after: page;

    .post-title {
      bookmark-level: 1;
      -prince-bookmark-level: 1;
      bookmark-label: attr(data-title);
      -prince-bookmark-label: attr(data-title);
    }

  }

  .post-title {
    bookmark-level: 2;
    -prince-bookmark-level: 2;
    bookmark-label: content(text);
    -prince-bookmark-label: content(text);
  }



  .full-height-image-container {
    z-index: -10;
    /*
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    */

    .hanger-img {
      height: 100%;
      object-fit: contain;
    }
  }
}

section {
  page-break-after: always;
  break-after: page;
}

.page-number {
  content: counter(pageNumber);
}

h1, h2, h3 {
  font-family: $heading-font;
  font-weight: 200;
  margin-top: unset;
  margin-bottom: unset;
}

.page {
  height: 100vh;
}

section {
  &.indexes {
    bookmark-level: 1;
    -prince-bookmark-level: 1;
    bookmark-label: attr(data-section-title);
    -prince-bookmark-label: attr(data-section-title);
    font-size: 8pt;

    .index-heading {
      font-size: 22pt;
    }

    .index-container {
      .index-heading {
        bookmark-level: 2;
        -prince-bookmark-level: 2;
        bookmark-label: content(text);
        -prince-bookmark-label: content(text);
      }

      .sub-index {
        bookmark-level: 3;
        -prince-bookmark-level: 3;
        bookmark-label: attr(data-sub-heading-title);
        -prince-bookmark-label: attr(data-sub-heading-title);
      }

    }

    .index {
      columns: 2;
      gap: 5%;

      &:not(.material) > li {
        break-inside: avoid-column;
      }
    }

    .description {
      font-style: italic;
    }

    .sub-index {
      padding-left: 14pt;
    }

    .index-entry > .title {
      margin-top: 6pt;
    }

    a {
      text-decoration: none;
      color: black;

      &:after {
        content: leader(dotted) target-counter(attr(href), pageNumber);
      }
    }

    ul {
      list-style-type: none;
    }
  }
}
