@use "print-map-marker";

@use "npm-fonts/space-grotesk" as * with (
  $font-base-path: '../'
);

$map-font: 'Space Grotesk', sans-serif;

.map-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: clip;

    @media print {
        pointer-events: none;
        display: block;
    }

    .leaflet-labels-pane svg text {
      font-family: $map-font;
    }

    .leaflet-container {
      max-height: 100vh;
      height: 100% !important;
      width: 100%;
      max-width: 100vw;

      .leaflet-pane {
        height: 100% !important;
        display: block !important;
      }

      .leaflet-bottom {
        display: none !important;
      }
    }

    .map {
        height: inherit;

        .leaflet-control-container,
        .leaflet-control-attribution {
            display: none;
        }

        &:focus-visible {
            outline: none;
        }
    }

    svg.leaflet-tile {
        overflow: visible;
    }
}

