@use "fonts/bodoni-moda" as *;
@use "fonts/space-mono" as *;


$heading-font: 'Bodoni Moda', times;
$body-font: 'Space Mono', serif;

@page {
  size: A5 landscape !important;
  margin-top: 1cm;
  margin-right: 1cm;
  margin-bottom: 1cm;
  margin-left: 1cm;

  @Bottom-right {
    content: counter(pageNumber);
  }
}

body {
  font-family: $body-font;
  counter-reset: pageNumber;
}

article {
  .page {
    counter-increment: pageNumber
  }

  .post-title {
    bookmark-level: 2;
    bookmark-label: content(text);
  }
}

section {
  page-break-after: always;
  break-after: page;
}

.page-number {
  content: counter(pageNumber);
}

.full-height-image-container {
  .hanger-img {
    height: 100%;
    object-fit: contain;
  }
}

h1, h2, h3 {
  font-family: $heading-font;
  font-weight: 200;
}

.indexes {
  font-size: 10pt;

  .index-heading {
    font-size: 22pt;
  }

  .index-container {
    .index-heading {
      bookmark-level: 2;
      bookmark-label: content(text);
    }

    .sub-index {
      bookmark-level: 3;
      bookmark-label: content([data-sub-heading-title]); 
    }

  }

  .index {
    columns: 2;
    gap: 5%;

    &:not(.material) > li {
      break-inside: avoid-column;
    }
  }

  .description {
    font-style: italic;
  }

  .sub-index {
    /*
    padding-inline-start: 14pt;
    */
    padding-left: 14pt;
  }

  .index-entry > .title {
    margin-top: 6pt;
  }

  a:after {
    content: leader(dotted) target-counter(attr(href), pageNumber);
  }

  a,
  a:hover,
  a:visited {
      text-decoration: none;
      color: black;
  }
}
