@use 'sass:math';
@use "npm-fonts/bodoni-moda" as * with (
  $font-base-path: '../'
);
@use "npm-fonts/space-grotesk" as * with (
  $font-base-path: '../'
);
@use "leaflet/leaflet" as *;
@use "print-map" as *;


$heading-font: 'Bodoni Moda', times;
$body-font: 'Space Grotesk Variable', serif;

$footnote-bottom-font-size: 6pt;
$text-width: 38.2%;
$image-width: 61.8%;

@page  {
  size: 210mm 210mm !important;
  margin-top: 1cm;
  margin-bottom: 1cm;
  /* marks: crop cross; */

  @footnote {
    float: bottom;
  }
}

@page :left {
  margin-left: 1cm;
  margin-right: 1.5cm;

  @bottom-center {
    content: counter(page);
    font-family: $body-font;
    vertical-align: middle;
  }
}

@page :right {
  margin-left: 1.5cm;
  margin-right: 1cm;

  @bottom-center {
    content: counter(page);
    font-family: $body-font;
    vertical-align: middle;
  }
}

@page nonr {

  @bottom-right {
    content: '';
  }

  @bottom-left {
    content: '';
  }

   @bottom-center {
    content: '';
   }
}

/* Put translations in here */
html[lang="de"] {


}

.page {
  counter-reset: link;
}

.recto,
.verso.two-sided .page:nth-child(2n),
.verso.two-sided .page:has(.hanger-back) {
  page: entry-right;

  .text {
    order: 1;
    text-align: left;
    padding-right: .2cm;

    .heading-top,
    .heading-front,
    .heading-back {
      /*text-align: end;*/
      margin-right: -1.5cm;
      transform: rotate(90deg);
      right: 0;
    }

    .additional-content {
      justify-content: flex-start;
    }

    .footnote-container {
      &:before {
        left: 0;
      }
    }
  }

  .image {
    order: 2;
  }
}

.verso ,
.recto.two-sided .page:nth-child(2n),
.recto.two-sided .page:has(.hanger-back) {
  page: entry-left;

  .text {
    order: 2;
    text-align: right;
    padding-left: .2cm;

    .heading-top,
    .heading-front,
    .heading-back {
      /*text-align: start;*/
      margin-left: -1.5cm;
      transform: rotate(-90deg);
      left: 0;
    }

    .additional-content {
      justify-content: flex-end;
      align-items: unset
    }

    ul {
      direction: rtl;
      padding-right: .5cm;
    }

    .footnote-container {
      &:before {
        right: 0;
      }
    }
  }

  .image {
    order: 1;
    transform: rotate(-180deg);
  }
}

.recto.two-sided:has(.hanger-back) {
  .image:has(.hanger-back) {
    transform: unset;
  }
}

body {
  font-family: $body-font;
  counter-reset: pageNumber;
}

article {

  &.entry {
    page: entry;
    position: relative;
    font-size: 9pt;

    .hanger-img {
      filter: drop-shadow(2px 2px 2px #222);
    }

    a,
    a:hover,
    a:visited {
      text-decoration: none;
      color: black;
    }

    .heading-back {
      bookmark-level: 3;
      -prince-bookmark-level: 3;
      bookmark-label: content(text);;
      -prince-bookmark-label: content(text);;
    }

    .page {
      display: flex;
      flex-direction: row;

      .text {
        display: grid;
        grid-template-rows: 4.5cm 4fr 1fr; /* 2fr 4fr 1fr; */
        width: $text-width;
        z-index: 100;
        flex-direction: column;
        position: relative;
        /* hyphens: auto; */

        .heading-top,
        .heading-front,
        .heading-back {
          font-variant: all-small-caps;
          /*margin-top: -.5cm; */

          span {
            padding: 0 .2rem;
            border-radius: .2rem;
            background-color: white;

            @media screen {
              text-shadow: 0 0 10px white;
              padding: unset;
              border-radius: unset;
              background-color: unset;
            }
          }
        }

        .heading-top {
          margin-top: auto;
        }

        .hanger-content {
          margin-bottom: auto;
          hyphens: none;
          word-break: normal;

          .noImprint {
            font-style: italic;
          }
        }

        .place,
        .features,
        .additional-header {
          margin-bottom: 6pt;
        }

        .features .additional-header,
        .place .additional-header {
          display: inline;

          &:after {
            content: ' ';
            /* display: inline-block; */
          }
        }

        .donation,
        .source {
          margin-top: auto;

          .additional-header {
            display: inline;

            &:after {
              content: ' ';
            }
          }
        }

        .hanger-number,
        .doublesided {
          display: none;
        }

        .additional-content {
          margin-bottom: auto;
          hyphens: auto;
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          justify-content: flex-start;

          /*
          .tag-content {
            p {
              margin-left: .2cm;
              margin-right: .2cm;
            }
          }
          */

          .related-list {
            margin-top: 0;
            
            .related-list-item {
              a {
                font-style: italic;

                &::after {
                  word-break: keep-all;
                  text-wrap: nowrap;
                  content: ' S. ' target-counter(attr(href), page);
                }
              }
            }
          } 

          .tag-content {
            p {
              margin-block-start: unset;
            }

            p:has(+ ul) {
              font-weight: bold;
              margin-block-end: 3pt;
            }

            ul {
              margin-block-start: 3pt;
            }
          }
        }

        .hanger-back {
          margin-top: auto;
          font-style: italic;
        }

        .heading-imprint {
          margin-top: .2cm;;     
          font-style: italic;

          & + .hanger-content {
            min-height: 1.2cm;
          } 
        }

        .heading-info,
        .heading-imprint {
          font-size: 14pt;
        }

        .additional-header {
          font-weight: bold;
        }

        .heading-info {
          margin-bottom: .2cm;
        }

        ul, p {
          /* margin-block-start: 6pt; */
          margin-block-end: 6pt;
        }

        ul {
          padding-inline-start: .5cm;
          padding-left: .5cm;
        }

        .text-content-top {
          position: relative;

          .heading-front,
          .heading-back {
            position: absolute;
            top: 1cm;
          }
          /*
          .heading-back {
            right: unset;
          }
          */
        }

        .text-content-center {
          position: relative;
          height: 100%;
          flex-direction: column;
          display: flex;

          .heading-top {
            position: absolute;
            margin-left: -2.5cm;
          }
        }

        .text-content-bottom {
          position: relative;
          align-self: end;
          display: flex;
          flex-direction: column;
          /* align-self: flex-end; */

          .footnote-container {
            margin-top: .4cm;

            a {
              hyphens: auto;
              word-break: break-all;
            }
          }
        }

        .footnote {
          float: bottom;
        }

        a {
          hyphens: auto;
        }
      }

      .image {
         width: $image-width;
         height: 100vh;

        &:has(.hanger-top) {
          display: flex;

          .hanger-front{
            flex-grow: 1;
          }
          .hanger-top {
            width: fit-content;
          }
        }

        .hanger-front,
        .hanger-top,
        .hanger-back {
          height: inherit;
        }

      }
    }
  }

  .page {
    counter-increment: pageNumber;
    page-break-after: always;
    break-after: page;
  }

  &.single-page {
    counter-increment: pageNumber;
    break-after: page;
    height: 100%;

    .post-title {
      bookmark-level: 1;
      -prince-bookmark-level: 1;
      bookmark-label: attr(data-title);
      -prince-bookmark-label: attr(data-title);
    }

  }

  .post-title {
    bookmark-level: 2;
    -prince-bookmark-level: 2;
    bookmark-label: content(text);
    -prince-bookmark-label: content(text);

    &.description {
      font-style: italic;
    }
  }

  .full-height-image-container {
    z-index: -10;
    display: flex;
    flex-direction: column;
    height: inherit;

    .hanger-img {
      height: 100%;
      object-fit: contain;
    }
  }
}

section {
  page-break-after: always;
  break-after: page;
}

.page-number {
  content: counter(pageNumber);
}

h1, h2, h3 {
  font-family: $heading-font;
  font-weight: 200;
  margin-top: unset;
  margin-bottom: unset;
}

.page {
  height: 100vh;
}

.index {
  columns: 2;
  gap: 5%;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 8pt;
  list-style-type: none;

  &:not(.material) > li {
    break-inside: avoid-column;
  }

  .index-entry:first-of-type .title {
    margin-top: unset;
  }

  ul {
    list-style-type: none;
  }

  .sub-index {
    padding-left: 14pt;
  }

  .index-entry {
    margin-left: 6pt;

    &> .title {
      margin-top: 6pt;
      margin-bottom: 3pt;
      font-weight: bold;
    }

    .index-sub-entry {
      a::after {
        content: leader(dotted) target-counter(attr(href), page);
      }
    }
  }

}

section {
  &.indexes {
    bookmark-level: 1;
    -prince-bookmark-level: 1;
    bookmark-label: attr(data-section-title);
    -prince-bookmark-label: attr(data-section-title);

    .index-heading {
      font-size: 22pt;
      margin-bottom: 6pt;
    }

    .index-container {
      margin-top: 6pt;

      .index-heading {
        bookmark-level: 2;
        -prince-bookmark-level: 2;
        bookmark-label: content(text);
        -prince-bookmark-label: content(text);
      }

      .sub-index {
        bookmark-level: 3;
        -prince-bookmark-level: 3;
        bookmark-label: attr(data-sub-heading-title);
        -prince-bookmark-label: attr(data-sub-heading-title);
      }

    }

    .description {
      font-style: italic;
      margin-left: .2cm;
    }




    a {
      text-decoration: none;
      color: black;
    }
  }
}

.footnote {
  float: footnote;
  word-break: break-all;
  overflow-wrap: break-word;
  line-height: 1.5;
  font-size: 65%;
  counter-increment: link;
  /* Needed for Paged.js
  display: block; */

  a {
    color: black;
    text-decoration: none;
  }

  &::footnote-marker {
    content: counter(link) ' ';
    list-style-position: inside;
    margin-right: 0.1cm;
  }

  &::footnote-call {
    content: counter(link);
    vertical-align: super;
    font-size: 65%;
  }
}

.single-page {
  u {
    /* text-underline-offset: from-font; */
    text-underline-offset: 2.4pt;
    text-decoration-color: rgba(0, 0, 0, 0.8);
    text-decoration-thickness: .6pt;
  }

  a,
  a:hover,
  a:visited {
    font-style: italic;
    color: black;
    text-decoration: none;
  }

  .center {
    text-align: center;
  }

  .page {
    position: relative;

    .footnote-container {
      position: absolute;
      bottom: 0;
    }

    /* this is the page title */
    h1:first-of-type {
      margin-bottom: 6pt;
    }

    .content-image {
      margin: .4cm auto;
      max-height: 100vh;
      width: fit-content;
      height: fit-content;

      @for $i from 3 through 7 {
        $number: $i * 10;
        $height-value: $i * 10vh;
        &.height-#{$number} {
          
          img {
            height: #{$height-value};
          }
        }
      }

      img {
        object-fit: contain;
        max-width: 100%;
        width: auto;
        height: inherit;
      }

      figcaption {
        text-align: end;
        font-size: 8pt;
        font-style: italic;

        p {
          margin-top: 3pt;
        }
      }
    }

    .footnote-number {
      margin-right: 1pt;
    }
  }

  &.title,
  &.catalogue {
    position: relative;

    a {
      height: inherit;
    }

    .title-heading {
      position: absolute;
      display: flex;
      transform: rotate(90deg);
      width: 100vh;
      z-index: 10;
      top: 0;
      flex-direction: column;
      left: 0;
      bottom: 0;
      align-items: flex-start;
      justify-content: flex-end;

      * {
        display: flex;
      }

      h1 {
        font-size: 2.2cm;
        align-self: center;
      }
    }

    .title-logo {
      display: flex;
      flex-direction: column;
      z-index: 10;
      opacity: .7;
      margin-block-start: 0;
      margin-block-end: 0;
      height: inherit;
      margin-inline-start: 0;
      margin-inline-end: 0;

      img {
        height: 100%;
        transform: rotate(90deg);
        margin-left: 1cm;
      }
    }
  }

  &.catalogue {
    .page {
      display: flex;
      justify-content: flex-start;
      max-width: 100vw;
    }

    .title-heading {
      position: unset;
      width: $text-width;
      min-width: $text-width;
      justify-content: center;
      align-items: unset;    
      transform: rotate(90deg);
      align-self: center;
      display: inline-flex;

      h1 {
        justify-content: center;
      }
    }

    .title-logo {

      margin-left: -3.5cm;
      margin-right: -3.5cm;
      position: unset;
      left: unset;
      top: unset; 
      bottom: unset;

      flex-basis: $image-width;

      img {
        max-width: 100vh;
        object-fit: contain;
        margin: unset;
      }
    }

    .left {
      .title-heading {
        order: 2;
        transform: rotate(-90deg);
      }

      .title-logo {
        order: 1;
        transform: rotate(180deg);
      }
    }
  }

  &.blank {
    page: nonr;
  }

  &.title {
    page: nonr;

    .title-heading {
      h2 {
        font-size: .8cm;

        &:nth-child(1) {
          margin-left: 1.3cm;
          align-self: flex-start;
          margin-bottom: -1cm;
        }

        &:nth-child(3) {
          align-self: flex-end;
          margin-top: -.4cm;
        }
      }
    }



    .bg {
      list-style-type: none;
      padding-left: unset;
      margin: unset;
      overflow: clip;
      max-height: 100vh;
      font-family: $body-font;


      @for $i from 1 through 10 {
        li:nth-child(#{$i}) {
          z-index: #{'-' + $i};
          font-size: #{$i * 3}rem;
          opacity: #{1 - math.pow(math.log($i, 10), .25)};
          margin-bottom: #{($i - 1) * 1.6}rem;
          margin-right: #{($i - 1) * .8}rem;
          position: absolute;
          bottom: 0;
          right: 0;
          font-weight: #{(8 - $i) * 100};
        }
      }
    }
  }

  &.toc,
  &.introduction,
  &.collection,
  &.acknowledgements,
  &.colophon {
    h1, h2 , h3 {
      text-align: center;
    }

    text-align: justify;
    hyphens: auto;
  }

  &.statistics {

    ul {
      font-size: 10pt;
      columns: 2;
      gap: 4cm !important;
      padding-inline-start: 0;
      margin-block-start: 1em;
      margin-block-end: 0;
      list-style-type: none;
      width: max-content;
      white-space: nowrap;
      margin: auto;

      &:has(ul) {
        margin: 1em auto;
      }

      li:first-of-type p {
        margin-top: unset;
      }

      a {
        font-style: unset;
      }

      &>li {
        break-inside: avoid-column;

        p {
          font-weight: bold;
          margin-top: 6pt;
          margin-bottom: unset;
        }

        ul {
          margin-left: 6pt;
          /* margin-top: 6pt; */
          columns: unset;
        }
      }
    }
  }

  &.preface,
  &.introduction,
  &.collection,
  &.acknowledgements,
  &.colophon {
    text-align: justify;
  }

  &.collection,
  &.introduction {
    ul {
      columns: 2;
      gap: 5%;

      &.ignore-first-level {
        padding-left: .8cm;
        list-style-type: none;

        ul {
          list-style-type: disc;
        }
      }

      ul {
        columns: unset;
        gap: unset;
      }

      /*
      *:first-of-type {
        margin-top: unset;
      }
        */

      &.single {
        columns: 1;

        li {
          &:first-of-type {
            margin-top: unset;
          }

          margin-top: 6pt;
        }
      }

      &>li {
        break-inside: avoid-column;
      }
    }
  }

  &.maps {
    p {
      margin-block-start: .3cm;
      margin-block-end: .3cm;
    }

    
    &.section {
      text-align: justify;
    }
    
  }

  &.collections,
  &.acknowledgements,
  &.colophon {
    ul {
      padding-left: .8cm;
    }
  }

  &.acknowledgements {

  }

  &.colophon {
    ul,
    p {
      margin-bottom: .9em;
    }
  }

  &.toc {

    .inline-toc {
      font-size: 100%;
      /* padding-left: .8cm; */
    }
    
    ol, ul {
      list-style-type: none;
      columns: 1;
      margin-top: 3pt;
      
      ul, ol {
        padding-left: .8cm;
        margin-top: unset;
      }
    }

    li {
      &.hanger {
        display: none;
      }

      a::after {
        content: leader(dotted) target-counter(attr(href), page);
      }
    }

  }

  &.imprint {
    page: nonr;

    .page{
      display: flex;
      justify-content: flex-end;
      flex-direction: column;

      .imprint-container {
        text-align: center;
        font-size: 60%;

      }
    }
  }

  &.back {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    page: nonr;

    .page {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-content: center;
    }

    figure {
      margin-block-start: 0;
      margin-block-end: 0;
      margin-inline-start: 0;
      margin-inline-end: 0;

      &.cc,
      &.cm {
        display: flex;
        justify-content: center;

        img {
          object-fit: contain;
          /* aspect-ratio: 1/1; */
        }
      }

      &.cc {
        img {
          width: 5cm;
          min-width: 5cm;
        }
      }

      &.cm {
        margin-top: 1cm;

        img {
          width: 3cm;
          min-width: 3cm;
        }
      }
    }
  }
}

nav[role="doc-toc"] {
  display: none;
}

.print-status {
  font-size: xx-small;
  width: 100%;
  text-align: center;
  margin-top: .5cm;
}

a {
  color: black;
  text-decoration: none;
}

.footnote-number {
  margin-left: .1cm;
  font-size: 65%;
  vertical-align: super;
}

.footnote-container {
  position: relative;
  font-size: $footnote-bottom-font-size;

  .footnote-number {
    margin-right: unset !important;
  }

  &:before {
    content: '';
    width: 5cm;
    height: 1pt;
    background: black;
    position: absolute;
    top: -1pt;
  }

  .footnote-title {
    font-weight: bold;
  }
}

[data-align-last-split-element="justify"] {
  text-align-last: unset;
}

a.page-ref {
  .page-ref-title {
    &:before {
      content: '„';
    }

    &:after {
      content: '”';
    }
  }

  &:after {
    content: ' ' target-counter(attr(href), page);
    margin-right: 1pt;
  }
}

/* TODO: Merge with rest, currently just a hack */
.verso.two-sided.opposite {
  .text {
    padding-left: unset !important;

    .heading-back {
      margin-right: -1.3cm !important;
      top: .8cm !important;
      margin-bottom: -3pt;
      left: unset;
    }
  }
}