@use "maplibre-gl/maplibre-gl";

.map-wrapper {
    height: 100%;

    .map {
        height: inherit;

        .leaflet-control-container,
        .leaflet-control-attribution {
            display: none;
        }

        &:focus-visible {
            outline: none;
        }
    }

    /* Fake Openlaxers style */
    .custom-marker-cluster {
        position: relative;

        display: flex;
        justify-content: center;
        align-items: center;
  
        span {
            width: 30px;
            height: 30px;
            text-align: center;
            border-radius: 50%;
            position:absolute;
            left: -10px;
            top: 5px;
            color: white;
            font-weight: bold;
            text-shadow: 
                -1px -1px 0 #000,  
                1px -1px 0 #000,
                -1px  1px 0 #000,
                1px  1px 0 #000;

            &:before {
                content: '';
                position: absolute;
                top: -25%;;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: white;
                opacity: 0.7;
                border-radius: 50%;
                z-index: -1;
            }

            &:after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                width: 16px;
                height: 16px;
                transform: translate(-50%, -50%);
                background-color: white;
                opacity: 0.3;
                border-radius: 50%;
                z-index: -1;
            }
        }
    }
}