@use 'sass:math';

@use "npm-fonts/bodoni-moda" as * with (
  $font-base-path: '../'
);
@use "npm-fonts/space-grotesk" as * with (
  $font-base-path: '../'
);

@use "leaflet/leaflet" as *;

/* @use "print-map" as *; */

$heading-font: 'Bodoni Moda', times;
$body-font: 'Space Grotesk Variable', serif;

@page  {
  size: 210mm 210mm !important;
  margin-top: 1cm;
  margin-bottom: 1cm;
  /* marks: crop cross; */
}

@page :left {
  margin-left: 1cm;
  margin-right: 1.5cm;

  @bottom-right {
    content: counter(page);
    font-family: $body-font;
    vertical-align: middle;
  }
}

@page :right {
  margin-left: 1.5cm;
  margin-right: 1cm;

  @bottom-left {
    content: counter(page);
    font-family: $body-font;
    vertical-align: middle;
  }
}

.recto,
.verso .two-sided .page:nth-child(2n) {
  .text {
    order: 1;
    text-align: left;

    .heading-top,
    .heading-front,
    .heading-back {
      text-align: end;
      margin-right: -1.5cm;
    }
  }

  /* .hanger-back p */

  .image {
    order: 2;
  }
}

.verso ,
.recto .two-sided .page:nth-child(2n) {
  .text {
    order: 2;
    text-align: right;

    .heading-top,
    .heading-front,
    .heading-back {
      text-align: start;
      margin-left: -1.5cm;
    }
  }

  .image {
    order: 1;
    transform: rotate(-180deg);
  }
}

body {
  font-family: $body-font;
  counter-reset: pageNumber;
}

article {

  &.entry {
    page: entry;
    position: relative;
    font-size: 9pt;

    .heading-top,
    .heading-front,
    .heading-back {

      font-variant: all-small-caps;
      margin-top: -.5cm;
      text-shadow: 0 0 10px white;
    }

    .hanger-img {
      filter: drop-shadow(2px 2px 2px #222);
    }

    .hanger-content {
      flex-grow: 1;
    }

    .heading-imprint {
      font-size: 12pt;
      font-style: italic;
    }

    .additional-header {
      font-weight: bold;
    }

    .donation,
    .source {
      .additional-header {
        display: inline;

        &:after {
          content: ' ';
        }
      }
    }

    a,
    a:hover,
    a:visited {
      display: inline;
      text-decoration: none;
      color: black;
    }

    .heading-back {
      bookmark-level: 3;
      -prince-bookmark-level: 3;
      bookmark-label: content(text);;
      -prince-bookmark-label: content(text);;
    }

    .page {
      display: flex;
      flex-direction: row;

      .text {
        display: flex;
        width: 38.2%;
        z-index: 100;
        flex-direction: column;

        .heading-info {
          align-self: center;
        }

        .hanger-back {
          align-self: flex-end;
          font-style: italic;
        }

        ul, p {
          margin-block-start: 6pt;
          margin-block-end: 6pt;

        }
      }

      .image {
         width: 61.8%;
         height: 100vh;

        .hanger-front,
        .hanger-top,
        .heading-back {
          height: inherit;
        }
      }
    }
  }

  .page {
    counter-increment: pageNumber;
    page-break-after: always;
    break-after: page;
  }

  &.singe-page {
    counter-increment: pageNumber;
    break-after: page;
    height: 100%;

    .post-title {
      bookmark-level: 1;
      -prince-bookmark-level: 1;
      bookmark-label: attr(data-title);
      -prince-bookmark-label: attr(data-title);
    }

  }

  .post-title {
    bookmark-level: 2;
    -prince-bookmark-level: 2;
    bookmark-label: content(text);
    -prince-bookmark-label: content(text);
  }



  .full-height-image-container {
    z-index: -10;
    display: flex;
    flex-direction: column;
    height: inherit;

    .hanger-img {
      height: 100%;
      object-fit: contain;
    }
  }
}

section {
  page-break-after: always;
  break-after: page;

  /*
  &.front-matter {
    height: 100%;
  }
  */
}

.page-number {
  content: counter(pageNumber);
}

h1, h2, h3 {
  font-family: $heading-font;
  font-weight: 200;
  margin-top: unset;
  margin-bottom: unset;
}

.page {
  height: 100vh;
}

section {
  &.indexes {
    bookmark-level: 1;
    -prince-bookmark-level: 1;
    bookmark-label: attr(data-section-title);
    -prince-bookmark-label: attr(data-section-title);
    font-size: 8pt;

    .index-heading {
      font-size: 22pt;
    }

    .index-container {
      .index-heading {
        bookmark-level: 2;
        -prince-bookmark-level: 2;
        bookmark-label: content(text);
        -prince-bookmark-label: content(text);
      }

      .sub-index {
        bookmark-level: 3;
        -prince-bookmark-level: 3;
        bookmark-label: attr(data-sub-heading-title);
        -prince-bookmark-label: attr(data-sub-heading-title);
      }

    }

    .index {
      columns: 2;
      gap: 5%;

      &:not(.material) > li {
        break-inside: avoid-column;
      }
    }

    .description {
      font-style: italic;
    }

    .sub-index {
      padding-left: 14pt;
    }

    .index-entry > .title {
      margin-top: 6pt;
    }

    a {
      text-decoration: none;
      color: black;

      &::after {
        content: leader(dotted) target-counter(attr(href), pageNumber);
      }
    }

    ul {
      list-style-type: none;
    }
  }
}

.footnote.link {
  display: block;
  float: footnote;

  .link-url
  .link-title {
    display: block;
  }

}

::footnote-marker {
  content: counter(footnote);
  list-style-position: inside;
}

::footnote-marker::after {
  content: '. ';
}

::footnote-call {
  content: counter(footnote);
  vertical-align: super;
  font-size: 65%;
}

.singe-page {
  &.title {
    position: relative;

    .title-heading {
      position: absolute;
      display: flex;
      transform: rotate(90deg);
      width: 100vh;
      z-index: 10;
      top: 0;
      font-size: 2.2cm;
      left: 0;
      bottom: 0;
      align-items: flex-end;
      justify-content: center;
    }

    a {
      height: inherit;
    }

    .title-logo {
      display: flex;
      flex-direction: column;
      z-index: 10;
      opacity: .7;
      margin-block-start: 0;
      margin-block-end: 0;
      height: inherit;
      margin-inline-start: 0;
      margin-inline-end: 0;

      img {
        height: 100%;
        transform: rotate(90deg);
      }
    }

    .bg {
      list-style-type: none;
      padding-left: unset;
      margin: unset;
      overflow: clip;
      max-height: 100vh;
      font-family: $body-font;


      @for $i from 1 through 10 {
        li:nth-child(#{$i}) {
          z-index: #{'-' + $i};
          font-size: #{$i * 3}rem;
          opacity: #{1 - math.pow(math.log($i, 10), .25)};
          margin-bottom: #{($i - 1) * 1.6}rem;
          margin-right: #{($i - 1) * .8}rem;
          position: absolute;
          bottom: 0;
          right: 0;
          font-weight: #{(8 - $i) * 100};
        }
      }
    }
  }

  &.preface,
  &.acknowledgements,
  &.colophon {
    text-align: justify;
    hyphens: auto;
  }

  &.preface {

  }

  &.map {
    .map-wrapper {
      height: 100%;

    }
  }

  &.acknowledgements {

  }

  &.colophon {

  }

  &.back {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    img {
      /*width: 5cm;*/
      aspect-ratio: 1/1;
    }

    .cc {
      width: 410px;
      min-width: 5cm;
    }

  }

}

