@use "swiper" as *;
@use "modules/effect-coverflow" as *;
@use "modules/scrollbar" as *;
@use "modules/navigation" as *;
@use "modules/a11y" as *;
@use "modules/keyboard" as *;
@use "modules/mousewheel" as *;

#klamotten {
  position: relative;
}

.swiper {
  width: 100%;
  margin-top: -1.8rem;
  padding-top: 1.2rem;
  padding-bottom: 2.4rem;
}

.swiper-wrapper {
  padding-top: 1rem;
}

.swiper-slide {
  perspective: 600px;
  transform-style: preserve-3d;
  transform-origin: 100% 50%;
  cursor: pointer;
  background-position: center;
  background-size: cover;
  width: 300px;
  width: fit-content;
  z-index: 10;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-slide-active {
  transform: translate3d(0, 0, 0) !important;
  z-index: 1000 !important;


  .buegel {
    transform: scale(1.15);
    transition: transform 200ms;

    &:hover {
        transform: scale(1.2);
    }
  }
}

.swiper-scrollbar {
  margin-bottom: 1rem;
  height: .6rem !important;

  @media screen and (max-width: 740px) {
    height: 1.6rem !important;
  }
}

.swiper-button-next,
.swiper-button-prev {
  color: #342211;
}
