@import "swiper";
@import "modules/effect-coverflow";
@import "modules/scrollbar";
@import "modules/navigation";
@import "modules/a11y";
@import "modules/keyboard";
@import "modules/mousewheel";

#klamotten {
  position: relative;
}

.swiper {
  width: 100%;
  margin-top: -1.8rem;
  padding-top: 1.2rem;
}

.swiper-wrapper {
  padding-top: 1rem;
}

/*
.swiper-slide-active {
  transform: scale(1.1);
}
*/

.swiper-slide {
  perspective: 600px;
  transform-style: preserve-3d;
  transform-origin: 100% 50%;
  cursor: pointer;
  background-position: center;
  background-size: cover;
  width: 300px;
  width: fit-content;
  /*
  height: 300px;
  */
  z-index: 10;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
/*
.swiper-slide-prev {
  margin-right: 10px !important;
}

.swiper-slide-active {
    margin-right: 10px !important;
}
*/

.swiper-slide-active {
  transform: translate3d(0, 0, 0) !important;
  z-index: 1000 !important;


  .buegel {
    transform: scale(1.15);
    transition: transform 200ms;

    &:hover {
        transform: scale(1.2);
    }
  }
}

.swiper-scrollbar {
  margin-bottom: 1rem;
  height: .6rem !important;
}

.swiper-button-next,
.swiper-button-prev {
  color: #342211;
}
