{{- $debug := partialCached "functions/debug/enabled.html" . -}}

{{- $printSection := where .Site.Pages "Section" "eq" "catalogue" -}}
{{- $printSection = where $printSection ".Params.print" "eq" true -}}

<section class="front-matter">
  {{- partial "print/print-pages.html" (dict "context" . "pages" $printSection "op" "lt" "weight" 10 ) -}}
</section>

{{- $hangers := .Site.Pages -}}
{{- range .Site.Home.Translations -}}
  {{- $hangers = $hangers | lang.Merge .Site.RegularPages -}}
{{- end -}}
<section class="entries" data-section-title="{{ i18n "entries" }}">

  {{- $allPosts := (where $hangers "Params.type" "eq" "hanger").ByDate -}}
  {{- $finalPosts := slice -}}
  {{- $processedPosts := slice -}}
  {{- $pageCount := 1 -}}

   {{- range $i, $p := $allPosts -}}
    {{- if not (in $processedPosts $p) -}}
      {{- if (in $p.Params.tags "Beidseitig") -}}
        {{- if eq (mod $pageCount 2) 0 -}}
          {{- $foundRegular := false -}}
          {{- if $debug -}}
            {{- warnf "[print/book.html] Moving double sided post %s" $p.RelPermalink -}}
          {{- end -}}
          {{- range after $i $allPosts -}}
            {{- if and (not (in .Params.tags "Beidseitig")) (not (in $processedPosts .)) (not $foundRegular) -}}
              {{- $finalPosts = $finalPosts | append . -}}
              {{- $processedPosts = $processedPosts | append . -}}
              {{- $pageCount = add $pageCount 1 -}}
              {{- $foundRegular = true -}}
            {{- end -}}
          {{- end -}}
        {{- end -}}
      {{- end -}}
      {{- if not (in $processedPosts $p) }}
        {{- $finalPosts = $finalPosts | append $p -}}
        {{- if (in $p.Params.tags "Beidseitig") -}}
          {{- $pageCount = add $pageCount 2 -}}
        {{- else -}}
          {{- $pageCount = add $pageCount 1 -}}
        {{- end -}}
      {{- end -}}
      {{- $processedPosts = $processedPosts | append $p | uniq -}}
    {{- end -}}
  {{- end -}}
  {{/*
    odd (1): right spread
    even (2): left spread
    */}}
  {{- $pageNr := 1 -}}
  {{- range $i, $p := $finalPosts -}}
    {{- $page := . -}}
    {{- if eq (printf "%T" .) "page.Pages" -}}
      {{- $page = index . 0 -}}
    {{- end -}}
    {{- if eq $page nil -}}
      {{- continue -}}
    {{- end -}}
    {{- if (in $page.Params.tags "Beidseitig") -}}
      {{- if and (eq (mod $pageNr 2) 0) (eq . true) -}}
        {{- if $debug -}}
          {{- warnf "[print/book.html] Alignment will be wrong for double sided post on page %d! %s" $pageNr $page.RelPermalink -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
    {{- if $debug -}}
      {{- warnf "[print/book.html] Post %s will be on page %d!" $page.RelPermalink $pageNr -}}
    {{- end -}}
    {{- $class := "" -}}
    {{- if not (modBool $pageNr 2) -}}
      {{- $class = "recto" -}}
    {{- else -}}
      {{- $class = "verso" -}}
    {{- end -}}
    {{- if (in $page.Params.tags "Beidseitig") -}}
      {{- $class = printf "%s %s" $class "two-sided" -}}
    {{- end -}}
    <div class="{{ $class }}" data-page-nr="{{ $i }}">
      {{- partial "print/entry.html" $page -}}
    </div>
    {{- if (in $page.Params.tags "Beidseitig") -}}
      {{- $pageNr = add $pageNr 2 -}}
    {{- else -}}
      {{- $pageNr = add $pageNr 1 -}}
    {{- end -}}
  {{- end -}}
</section>

{{/* Indexes */}}
<section class="indexes" data-section-title="{{ i18n "indexes" }}">
  <h1 class="indexes"></h1>
  {{- $types := slice "place" "store" "retail_chain" "type" "feature" "purpose" "brand" "material" -}}
  {{- range $types -}}
    <article class="index-container">
      <h2 class="index-heading">{{ i18n (printf "%sIndex" .) }}</h2>
      {{- partial "print/index.html" . -}}
    </article>
  {{- end -}}
</section>

<section class="back-matter" data-section-title="{{ i18n "back-matter" }}">
  {{- partial "print/print-pages.html" (dict "context" . "pages" $printSection "op" "gt" "weight" 100 ) -}}
</section>
