{{- $printSection := where .Site.Pages "Section" "eq" "catalogue" -}}
{{- $printSection = where $printSection ".Params.print" "eq" true -}}

<section class="front-matter">
  {{- partial "print/print-pages.html" (dict "context" . "pages" $printSection "op" "lt" "weight" 10 ) -}}
</section>

{{/* Main Part */}}
{{- $hangers := .Site.Pages -}}
{{- range .Site.Home.Translations -}}
  {{- $hangers = $hangers | lang.Merge .Site.RegularPages -}}
{{- end -}}
<section class="entries" data-section-title="{{ i18n "entries" }}">
  {{- range (where $hangers "Params.type" "eq" "hanger").ByDate -}}
    {{- $title := .Params.title -}}
    {{- partial "print/entry.html" . -}}
  {{- end -}}
</section>

{{/* Indexes */}}
<section class="indexes" data-section-title="{{ i18n "indexes" }}">
  <h1 class="indexes"></h1>
  {{- $types := slice "place" "store" "retail_chain" "type" "feature" "purpose" "brand" "material" -}}
  {{- range $types -}}
    <article class="index-container">
      <h2 class="index-heading">{{ i18n (printf "%sIndex" .) }}</h2>
      {{- partial "print/index.html" . -}}
    </article>
  {{- end -}}
</section>

<section class="back-matter" data-section-title="{{ i18n "back-matter" }}">
  {{- partial "print/print-pages.html" (dict "context" . "pages" $printSection "op" "gt" "weight" 100 ) -}}
</section>
