{{- $debug := partialCached "functions/debug/enabled.html" . -}}

{{- $section := "catalogue" -}}

{{- $printSection := where .Site.Pages "Section" "eq" $section -}}
{{- $sectionPage := (index $printSection 0).Parent -}}
{{- $printSection = where $printSection ".Params.print" "eq" true -}}

{{- $tocEntries := (partial "print/print-toc.html" (dict "context" . "section" $sectionPage "pages" $printSection "op" "lt" "weight" 100 )) -}}

<section class="front-matter">
  {{- partial "print/print-pages.html" (dict "context" . "pages" $printSection "op" "lt" "weight" 100 ) -}}
</section>

{{- $hangers := .Site.Pages -}}
{{- range .Site.Home.Translations -}}
  {{- $hangers = $hangers | lang.Merge .Site.RegularPages -}}
{{- end -}}

{{- $id := "_entries" -}}
{{- $title := i18n "entries"  -}}
{{- $tocEntries = $tocEntries | append (dict "title" $title "href" (printf "#%s" $id)) -}}
<section id="{{ $id }}" class="entries" data-section-title="{{ i18n "entries" }}">
  {{- $allPosts := (where $hangers "Params.type" "eq" "hanger").ByDate -}}
  {{- $finalPosts := slice -}}
  {{- $processedPosts := slice -}}
  {{- $pageCount := 1 -}}

   {{- range $i, $p := $allPosts -}}
    {{- if not (in $processedPosts $p) -}}
      {{- if (in $p.Params.tags "Beidseitig") -}}
        {{- if eq (mod $pageCount 2) 0 -}}
          {{- $foundRegular := false -}}
          {{- if $debug -}}
            {{- warnf "[print/book.html] Moving double sided post %s" $p.RelPermalink -}}
          {{- end -}}
          {{- range after $i $allPosts -}}
            {{- if and (not (in .Params.tags "Beidseitig")) (not (in $processedPosts .)) (not $foundRegular) -}}
              {{- $finalPosts = $finalPosts | append . -}}
              {{- $processedPosts = $processedPosts | append . -}}
              {{- $pageCount = add $pageCount 1 -}}
              {{- $foundRegular = true -}}
            {{- end -}}
          {{- end -}}
        {{- end -}}
      {{- end -}}
      {{- if not (in $processedPosts $p) }}
        {{- $finalPosts = $finalPosts | append $p -}}
        {{- if (in $p.Params.tags "Beidseitig") -}}
          {{- $pageCount = add $pageCount 2 -}}
        {{- else -}}
          {{- $pageCount = add $pageCount 1 -}}
        {{- end -}}
      {{- end -}}
      {{- $processedPosts = $processedPosts | append $p | uniq -}}
    {{- end -}}
  {{- end -}}
  {{/*
    odd (1): right spread
    even (2): left spread
    */}}
  {{- $pageNr := 1 -}}
  {{- $sectionToc := slice -}}
  {{- range $i, $p := $finalPosts -}}
    {{- $page := . -}}
    {{- if eq (printf "%T" .) "page.Pages" -}}
      {{- $page = index . 0 -}}
    {{- end -}}
    {{- if eq $page nil -}}
      {{- continue -}}
    {{- end -}}
    {{- if (in $page.Params.tags "Beidseitig") -}}
      {{- if and (eq (mod $pageNr 2) 0) (eq . true) -}}
        {{- if $debug -}}
          {{- warnf "[print/book.html] Alignment will be wrong for double sided post on page %d! %s" $pageNr $page.RelPermalink -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
    {{- if $debug -}}
      {{- warnf "[print/book.html] Post %s will be on page %d!" $page.RelPermalink $pageNr -}}
    {{- end -}}
    {{- $class := "" -}}
    {{- if not (modBool $pageNr 2) -}}
      {{- $class = "recto" -}}
    {{- else -}}
      {{- $class = "verso" -}}
    {{- end -}}
    {{- if (in $page.Params.tags "Beidseitig") -}}
      {{- $class = printf "%s %s" $class "two-sided" -}}
    {{- end -}}
    <div class="{{ $class }}" data-page-nr="{{ $i }}">
      {{- partial "print/entry.html" $page -}}
    </div>
    {{- $link := printf "#_%s" (replace $page.RelPermalink "/" "-") -}}
    {{- $tocTitle := $page.Title -}}
    {{- if eq $tocTitle "" -}}
      {{- $tocTitle = $page.Description -}}
    {{- end -}}
    {{- $sectionToc = $sectionToc | append (dict "title" $tocTitle "href" $link) -}}
    {{- if (in $page.Params.tags "Beidseitig") -}}
      {{- $pageNr = add $pageNr 2 -}}
    {{- else -}}
      {{- $pageNr = add $pageNr 1 -}}
    {{- end -}}
  {{- end -}}
  {{- $tocEntries = $tocEntries | append (slice $sectionToc) -}}
</section>

{{/* Indexes */}}
{{- $id := "_indexes" -}}
{{- $title := i18n "indexes"  -}}
{{- $tocEntries = $tocEntries | append (dict "title" $title "href" (printf "#%s" $id)) -}}
<section id="{{ $id }}" class="indexes" data-section-title="{{ $title }}">
  <h1 class="indexes"></h1>
  {{- $types := slice "place" "store" "retail_chain" "type" "feature" "purpose" "brand" "material" -}}
  {{- $sectionToc := slice -}}
  {{- range $types -}}
    <article class="index-container">
      {{- $id := printf "_index-%s" . -}}
      {{- $title := i18n (printf "%sIndex" .) -}}
      {{- $sectionToc = $sectionToc | append (dict "title" $title "href" (printf "#%s" $id)) -}}
      <h2 id="{{ $id }}" class="index-heading">{{ $title }}</h2>
      {{- partial "print/index.html" . -}}
    </article>
  {{- end -}}
  {{- $tocEntries = $tocEntries | append $sectionToc -}}
</section>

<section class="back-matter" data-section-title="{{ i18n "back-matter" }}">
  {{- partial "print/print-pages.html" (dict "context" . "pages" $printSection "op" "gt" "weight" 100 ) -}}
</section>

{{- range (partial "print/print-toc.html" (dict "context" . "section" $sectionPage "pages" $printSection "op" "gt" "weight" 100 )) -}}
  {{- $tocEntries = $tocEntries | append . -}}
{{- end -}}
{{- $toc := partial "print/toc.html" (dict "context" . "entries" $tocEntries ) -}}

{{- $toc -}}