{{- $page := . -}}
{{- $doubleSided := false -}}
{{- if (in $page.Params.tags "Beidseitig") -}}
  {{- $doubleSided = true -}}
{{- end -}}
{{- $relative := 0 -}}
{{- with .Site.Params.print.relative -}}
  {{- $relative = . -}}
{{- end -}}
{{- $title := .Title -}}

{{- $id := printf "_%s" (replace .RelPermalink "/" "-") -}}
<article data-id="{{ .RelPermalink }}" id="{{ $id }}" class="entry">
  <div class="page">
    <div class="text">
      <div class="text-content-top">
        <h2 class="post-title {{ if eq $title "" }}description{{ end }}">
          {{- if ne $title "" -}}
            {{ $title }}
          {{- else -}}
            {{ .Description }}
          {{- end -}}
        </h2>
        <h3 class="heading-front"><span>{{ i18n "front" }}</span></h3>
      </div>
      <div class="text-content-center">
        {{ partial "print/entry-content.html" . }}
        {{- with .Resources.GetMatch "top*" -}}
          <h3 class="heading-top"><span>{{ i18n "top" }}</span></h3>
          <div class="hanger-top">
            <h2 class="heading-imprint">{{ i18n "print" }}</h2>
            {{- with .Params.content -}}
              <div class="top-content">
                {{- . | safeHTML -}}
              </div>
            {{- end }}
          </div>
        {{- end }}
      </div>
      <div class="text-content-bottom">
        {{- if eq (.Resources.GetMatch "back*") nil -}}
          <div class="hanger-back">
            <p>
              {{- if or .Params.doublesided -}}
                {{- i18n "identical_back" -}}
              {{- else -}}
                {{- i18n "empty_back" -}}
              {{- end -}}
            </p>
          </div>
        {{- end -}}
        {{- partial "print/footnotes.html" . -}}
      </div>
    </div>

    <div class="image">
      {{- with .Resources.GetMatch "top*" -}}
        <div class="hanger-top">
          <div class="full-height-image-container">
            {{- with .Resize (printf "%dx%d r270 webp picture" .Height .Width) -}}
              <img class="buegel-top hanger-img" src="{{ substr .RelPermalink $relative }}" alt="{{ i18n "top" }}" />
            {{- end }}
          </div>
        </div>
      {{- end }}

      <div class="hanger-front">
        {{- $front := .Resources.GetMatch "front*" -}}
        {{- if eq $front nil -}}
          {{- errorf "[page.html] Failed to load images for %s" .RelPermalink -}}
        {{- end -}}
        {{- with $front.Params.content -}}
          <div class="back-content">
            {{- $frontContent = . | markdownify -}}
            {{- $frontContent -}}
          </div>
        {{- end }}
        <div class="full-height-image-container">
          {{- if gt $front.Width $front.Height -}}
            {{- with $front.Resize (printf "%dx%d r270 webp picture" $front.Height $front.Width) -}}
              <img class="buegel-front hanger-img" src="{{ substr .RelPermalink $relative }}" alt="{{ i18n "front" }}" />
            {{- end }}
          {{- else -}}
            {{- with $front -}}
              <img class="buegel-front hanger-img" src="{{ substr .RelPermalink $relative }}" alt="{{ i18n "front" }}" />
            {{- end }}
          {{- end -}}
        </div>
      </div>

    </div>
  </div>
  {{- with .Resources.GetMatch "back*" -}}
    <div class="page">
      <div class="text">
        <div class="text-content-top">
          <h2 class="post-title {{ if eq $title "" }}description{{ end }}">
            {{- if ne $title "" -}}
              {{ $title }}
            {{- else -}}
              {{ $page.Description }}
            {{- end -}}
          </h2>
          <h3 class="heading-back"><span>{{ i18n "back" }}</span></h3>
        </div>
        <div class="text-content-center">
          <h2 class="heading-imprint">{{ i18n "print" }}</h2>
          {{- with .Params.content -}}
            <div class="back-content">
              <p>
                {{- . | safeHTML -}}
              </p>
            </div>
          {{- end }}
        </div>
      </div>
      <div class="image">
        <div class="hanger-back">
          <div class="full-height-image-container">
            {{- with .Resize (printf "%dx%d r90 webp picture" .Height .Width) -}}
              <img class="buegel-back hanger-img" src="{{ substr .RelPermalink $relative }}" alt="{{ i18n "back" }}" />
            {{- end }}
          </div>
        </div>
      </div>
    </div>
  {{- end -}}

</article>
