{{- $page := . -}}

{{- if or (not (isset .Params "type")) (and (isset .Params "type") (ne .Params.type "hanger")) -}}
  {{- .Content -}}
{{- else -}}
  {{- if ne .Content "" -}}
    <h2 class="heading-imprint">{{ i18n "print" }}</h2>
    <div class="hanger-content">
      <p>
        {{- .RawContent | safeHTML -}}
      </p>
    </div>
  {{- end -}}

  {{- $additional := "" -}}

  {{- with .Params.remarks -}}
    {{- $remarks := . -}}
    {{- $remarks = replace $remarks "Aktuelle Webseite" (i18n "currentWebsite") -}}
    {{- $remarks = replace $remarks "Heutige Webseite" (i18n "currentWebsite") -}}
    {{- $additional = printf `%s<div class="remarks notes"><div class="additional-header">%s:</div>%s</div>` $additional (i18n "remarks") ($remarks | $.Page.RenderString) -}}
  {{- end -}}

  {{- with .Params.related -}}
    {{- if reflect.IsSlice . -}}
      {{- $additional = printf "%s%s" $additional (partial "print/related.html" $page) -}}
    {{- else -}}
      {{- $additional = printf "%s%s" $additional ( . | $.Page.RenderString)  -}}
    {{- end -}}
  {{- end -}}
  {{- with .Params.source -}}
    {{- $additional = printf `%s<div class="source"><div class="additional-header">%s:</div>%s</div>` $additional (i18n "source" ) ( . | $.Page.RenderString) -}}
  {{- end -}}
  {{- with .Params.donation -}}
    {{- $additional = printf `%s<div class="donation"><div class="additional-header">%s:</div>%s</div>` $additional (i18n "donation" ) ( . | $.Page.RenderString) -}}
  {{- end -}}

  {{- range $tag := .Params.tags -}}
    {{- if ne $tag "" -}}
      {{- $tagUrl := printf "%s%s" "tags/" ($tag | urlize) -}}
      {{- $tagPath := (urls.Parse $tagUrl).Path -}}

      {{- $tagPage := false -}}
      {{- with site.GetPage $tagPath -}}
        {{- $tagPage = . -}}
      {{- else -}}
        {{- $termPages := site.Pages -}}
        {{- range site.Home.Translations -}}
          {{- $termPages = $termPages | lang.Merge site.Pages -}}
        {{- end -}}
        {{- $termPages = where $termPages ".Kind" "eq" "term" -}}
        {{- $alias := printf "/%s" $tagPath -}}
        {{- $termPages = where $termPages ".Aliases" "intersect" (slice $alias) -}}
        {{- $tagPage = index $termPages 0 -}}
      {{- end -}}

      {{- with $tagPage -}}
        {{- if isset .Params "type" -}}
          {{- if or (eq .Params.type "store") (eq .Params.type "retail_chain") -}}
            {{- if ne .Content "" -}}
              {{- $additional = printf `%s<div class="tag-content">%s</div>` $additional (.RawContent | $.Page.RenderString) -}}
            {{- end -}}
          {{- end -}}
        {{- end -}}
      {{- else -}}
        {{- errorf "[post-content.html] Can't find term page for %s (file %s) from %s" $tag $tagPath $page.RelPermalink -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}

  {{- if ne $additional "" -}}
    <h2 class="heading-info">{{ i18n "info" }}</h2>
    <div class="additional-content">
      {{- $additional | safeHTML -}}
    </div>
  {{- end -}}
{{- end -}}
