{{/*
{{- errorf "print/leaflet-map.html isn't implemented yet!" -}}
*/}}

{{- $context := .context -}}
{{- $section := .section -}}
{{- if eq $section nil -}}
  {{/* Check if we only got one param, this will be the geojson referece */}}
  {{- $section = "post" -}}
{{- end -}}
{{- $cluster := .cluster -}}
{{- if eq $cluster nil -}}
  {{- $cluster = false -}}
{{- end -}}
{{/* See https://openlayers.org/en/latest/apidoc/module-ol_style_Icon.html for options */}}
{{- $marker := .marker -}}
{{- if eq $marker nil -}}
  {{- $marker = false -}}
{{- end -}}
{{- $style := .style -}}
{{- if or (eq $style nil) (eq $style false) -}}
  {{- $style = "undefined" -}}
{{- end -}}
{{- $bbox := .bbox -}}
{{- if or (eq $bbox nil) (eq $bbox false) -}}
  {{- $bbox = "undefined" -}}
{{- end -}}

{{- $pages := where site.Pages "Section" $section -}}
{{- $features := where $pages ".Page.Params.geojson" "!=" nil -}}
{{- $geojson := partial "geojson/featureCollection.geojson" $features -}}
{{- $geojson := $geojson | jsonify }}

{{- $id := printf "map_%s" (md5 (printf "%s-%s" $geojson time.Now)) -}}
{{- $var := printf "_%s" $id -}}
<div class="map-wrapper">
  <div class="map" id="{{ $id }}" data-bbox="{{ $bbox }}"></div>
</div>
<script type="text/javascript">
  var geojson = {{ $geojson | safeJS }};
  
  var {{ $var | safeJS }} = window.initMap('#{{ $id | safeJS }}', geojson, 'osm', {{ $cluster | safeJS }}, {{ $marker | safeJS }} {{ if eq (printf "%T" $style) "string" }}, '{{ $style | safeJS }}' {{ else }}, undefined {{ end }} {{ if ne $bbox false }}, {{ $bbox | safeJS }} {{ end }});
  const {{ $var | safeJS }}mapElem = document.getElementById("{{ $id }}");

</script>
