{{- $slug := path.BaseName .Path -}}
{{- $id := printf "_%s" (replace .RelPermalink "/" "-") -}}
{{- $class := printf "single-page %s" $slug -}}
{{- if gt (len .Ancestors.Reverse) 2 -}}
  {{- range (after 2 .Ancestors.Reverse) -}}
    {{- $class = printf "%s %s" $class (path.BaseName .Path) -}}
  {{- end -}}
{{- end -}}
{{- if eq .Kind "section" -}}
  {{- $class = printf "%s section" $class -}}
{{- end -}}
<article class="{{ $class }}" id="{{ $id }}" data-title="{{ .Title }}">
  <div class="page">
    {{- if .Param "show_title" -}}
      {{- with .Title -}}
        <h1 class="page-title">{{ . }}</h1>
      {{- end -}}
    {{- end -}}
    {{- .Content -}}
    {{- partial "print/footnotes.html" . -}}
  </div>
</article>
{{- if .Params.following_blank -}}
  {{- partial "print/blank.html" (dict "context" . "class" $class) -}}
{{- end -}}