{{- $context := . -}}
{{- $allPages := site.AllPages -}}
{{- $op := "lt" -}}
{{- $weight := 10000 -}}
{{- $filter := slice (dict "op" "lt" "weight" 10000) -}}
{{- $section := .FirstSection -}}
{{- $sectionclass := "" -}}
{{- $sectiontitle := "" -}}
{{- $tocOnly := false -}}
{{- if reflect.IsMap . -}}
  {{- $context = .context -}}
  {{- if isset . "pages" -}}
    {{- $allPages = .pages -}}
  {{- end -}}
  {{- if isset . "op" -}}
    {{- $op = .op -}}
    {{- $f := index $filter 0 -}}
    {{- $f = dict "op" .op "weight" $f.weight -}}
    {{- $rest := last (sub (len $filter) 1) $filter}}
    {{- $filter = slice $f | append $rest -}}
  {{- end -}}
  {{- if isset . "weight" -}}
    {{- $weight = .weight -}}
    {{- $f := index $filter 0 -}}
    {{- $f = dict "op" $f.op "weight" .weight -}}
    {{- $rest := last (sub (len $filter) 1) $filter}}
    {{- $filter = slice $f | append $rest -}}
  {{- end -}}
  {{- if isset . "filter" -}}
    {{- $filter = .filter -}}
  {{- end -}}
  {{- if isset . "sectionclass" -}}
    {{- $sectionclass = .sectionclass -}}
  {{- end -}}
  {{- if isset . "sectiontitle" -}}
    {{- $sectiontitle = .sectiontitle -}}
  {{- end -}}
  {{- if isset . "section" -}}
    {{- $section = .section -}}
  {{- end -}}
  {{- if isset . "toconly" -}}
    {{- $tocOnly = .toconly -}}
  {{- end -}}
{{- else -}}
  {{- errorf "[print/print-pages.html] Needs params as dict, not just context" .RelPermalink -}}
{{- end -}}

{{/*
{{- $pages := where $allPages ".Weight" $op $weight }}
*/}}
{{- $pages := slice -}}
{{- if len $filter -}}
  {{-  range $index, $f := $filter -}}
    {{- if eq $index 0 -}}
      {{- $pages = where $allPages ".Weight" $f.op $f.weight -}}
    {{- else -}}
      {{- $pages = $pages | append (where $pages ".Weight" $f.op $f.weight) -}}
    {{- end -}}
  {{- end -}}
  {{- $pages = $pages | uniq -}}
{{- end -}}

{{- $toc := (partial "print/print-pages-toc.html" (dict "section" $section "pages" $pages "op" $op "weight" $weight )) -}}
{{- $content := "" -}}
{{- if eq $tocOnly false -}}
  {{- if and (ne $sectionclass "") (ne $sectiontitle "") -}}
    {{- $content = printf `%s<section class="%s" data-section-title="%s">` $content $sectionclass $sectiontitle -}}
  {{- end -}}
  {{- range $pages.ByWeight -}}
    {{- $content = printf "%s%s" $content (partial "print/page.html" .) -}}
  {{- end -}}
  {{- if and (ne $sectionclass "") (ne $sectiontitle "") -}}
    {{- $content = printf `%s</section>` $content -}}
  {{- end -}}
  {{- if eq (len $toc) 0 -}}
      {{- $toc := false -}}
  {{- end -}}
{{- end -}}
{{- if eq $tocOnly true -}}
  {{- $content = false -}}
{{- end -}}
{{- return (dict "content" $content "toc" $toc) -}}

{{ define "_partials/print/print-pages-toc.html" }}
  {{- $pages := .pages -}}
  {{- $op := .op -}}
  {{- $weight := .weight -}}
  {{- $section := .section -}}

  {{- $tocEntries := slice -}}
  {{- $pages = where $pages ".Weight" $op $weight -}}
  {{- range $pages.ByWeight -}}
    {{- if eq .Params.toc false -}}
      {{- continue -}}
    {{- end -}}

    {{- if (ne (index .Ancestors 0) $section) -}}
      {{- continue -}}
    {{- end -}}

    {{- $link := printf "#_%s" (replace .RelPermalink "/" "-") -}}
    {{ $tocEntries = $tocEntries | append (dict "title" .Title "href" $link) }}
    {{- if and (eq .Kind "section") (gt (len .Pages) 0) -}}
      {{- $children := .Pages -}}
      {{- $childToc :=  (partial "print/print-pages-toc.html" (dict "section" .CurrentSection "pages" $children "op" $op "weight" $weight )) -}}
      {{- $tocEntries = $tocEntries | append (slice) -}}
      {{- $tocEntries = $tocEntries | append  $childToc -}}
    {{- end -}}
  {{- end -}}
  {{- return $tocEntries -}}
{{- end -}}