<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ partial "html/head/meta.html" . }}

    {{- partial "html/head/style.html" (dict "context" . "includes" (slice "node_modules/swiper")) -}}
    {{/* {{- partial "html/head/script.html" . -}} */}}
    {{- partial "html/head/script.html" (dict "context" . "opts" (dict "loaders" (dict ".json" "json" ".css" "text" ".scss" "text"))) -}}
    {{- partial "html/head/page-scripts.html" (dict "context" . "opts" (dict "loaders" (dict ".json" "json" ".css" "text" ".scss" "text"))) -}}

    <link rel="icon" type="image/png" href="{{ .Site.Params.favicon_32 | default "/images/favicon-32.png" | absURL }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ .Site.Params.favicon_16 | default "/images/favicon-16.png" | absURL }}" sizes="16x16">
    {{ if .Site.Params.favicon_svg }}
        <link rel="icon" type="image/svg+xml" href="{{ .Site.Params.favicon_svg }}">
    {{ end }}

    <link rel="shortcut icon" href="{{ "img/favicon.ico" | absURL }}" type="image/x-icon">
    <link rel="icon" href="{{ "images/favicon.ico" | absURL }}" type="image/x-icon">

    {{/* External Styles - Fonts etc */}}
    {{ range .Site.Params.stylesheets -}}
    <link href="{{ . }}" rel="stylesheet">
    {{- end -}}

    {{ range .AlternativeOutputFormats -}}
      {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
    <link rel="canonical" href="{{ .Permalink }}">

  </head>

    {{- $class := "" }}
    {{- if and (ne .Page.File nil) (ne .Page.File.Path nil) -}}
      {{- if or (hasPrefix .Page.File.Path "about") (hasPrefix .Page.File.Path "/about") -}}
        {{- $class = "about" -}}
      {{- else -}}
        {{- if ne .Section "" -}}
          {{- $class = printf "%s section-%s" $class .Section -}}
        {{- end -}}
        {{- with .File.Dir -}}
          {{- $class = printf "%s dir-%s" $class (replace . "/" "" ) -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
    {{- if .IsHome -}}
      {{- $class = "home" -}}
    {{- end -}}
    {{- if .Params.metaPage -}}
      {{- if .Params.class -}}
        {{- $class = printf "%s %s" $class .Params.class -}}
      {{- else -}}
        {{- $class = printf "%s %s" $class "meta" -}}
      {{- end -}}
    {{- end -}}
     <body class="{{ $class }}">
       <div id="page">
         {{ partial "header.html" . }}
         <div class="main">
             {{ block "content" . }}{{ end }}
             {{- partial "footer.html" . -}}
         </div>
       </div>
   </body>
 </html>
