{{ $sectionName := .section }}
{{ $bboxRaw := .bbox }}

{{ $cleanStr := replace (replace $bboxRaw "[" "") "]" "" }}
{{ $coords := split $cleanStr "," }}

{{ $minLon := float (index $coords 0) }}
{{ $minLat := float (index $coords 1) }}
{{ $maxLon := float (index $coords 2) }}
{{ $maxLat := float (index $coords 3) }}

{{- $pages := site.Pages -}}
{{- range site.Home.Translations -}}
  {{- $pages = $pages | lang.Merge site.RegularPages -}}
{{- end -}}
{{ $bboxPages := slice }}

{{ range $pages }}
  {{ if and .Params.geojson .Params.geojson.coordinates }}
    {{ $lon := float (index .Params.geojson.coordinates 0) }}
    {{ $lat := float (index .Params.geojson.coordinates 1) }}

    {{ if and (ge $lon $minLon) (le $lon $maxLon) (ge $lat $minLat) (le $lat $maxLat) }}
      {{ $bboxPages = $bboxPages | append . }}
    {{ end }}

  {{ end }}
{{ end }}

{{ return $bboxPages }}
