{{- $page := . -}}
{{- $related := "" -}}
{{- with .Params.related -}}
    {{- range . -}}
      {{/* TODO: this is jus a stupid trick to get the page */}}
      {{- $relatedPath := printf "/post/%s" (string .) -}}
      {{- $nr := string . -}}
      {{/* {{- with site.GetPage $relatedPath -}} */}}
      {{- with partial "content/hanger.html" $relatedPath -}}
        {{- $title := .Title -}}
        {{- if eq $title "" -}}
          {{- $title = .Description -}}
        {{- end -}}
        {{- $link := .RelPermalink -}}
        {{- $related = printf "%s%s%s%s%s%s%s%s%s%s" $related  `<li class="related-list-item"><a href="` $link `" title="` ($title | htmlEscape) `">` $title ` (#` $nr `)</a></li>` -}}
      {{- else -}}
        {{- warnf "[content/related.html] Unable to get related %s for %s, ignoring, maybe post is in the future" $relatedPath $page.RelPermalink -}}
      {{- end -}}
    {{- end -}}
{{- end -}}
{{- if ne $related "" -}}
  <ul class="related-list">
    {{- $related | safeHTML -}}
  </ul>
{{- end -}}
