{{- $tag := .Get 0 -}}
{{- $link := false -}}
{{- with .Get 1 -}}
  {{- $link = . -}}
{{- end -}}

{{ $pages := .Site.RegularPages }}
{{ range .Site.Home.AllTranslations }}
  {{ $pages = $pages | lang.Merge .Site.RegularPages }}
{{ end }}

{{- $pages = where $pages "Params.tags" "intersect" (slice $tag) -}}
{{- if eq $link true -}}
  {{- $tagUrl := printf "tags/%s" ($tag | urlize) | relURL -}}
  {{- if or (strings.Contains $tag " ") (strings.Contains $tag "& ") -}}
    {{- $tagUrl = printf "/%s%s" "tags/" ((replace (replace $tag "& " "-") " " "-") | urlize) -}}
  {{- end -}}
  <a href="{{ $tagUrl }}">{{- len $pages -}}</a>
{{- else -}}
  {{- len $pages -}}
{{- end -}}
