<div class="kleiderstange"></div>
<div class="post error404">
    {{/* {{- partialCached "404-content.html" . -}} */}}
    <div class="content">
        <h1>
           <a href="{{ "/" | relURL }}">404 Seite nicht gefunden!</a>
        </h1>
        <img src="/images/blaufusstoelpel.svg" alt="Der Blaufußtölpel hat nichts gefunden!"/>
        <p>Die angeforderte URL konnte auf dem Server nicht gefunden werden.</p>
        <p><a href="{{ .Site.BaseURL | safeHTML }}">Du kannst hier zurück zur Startseite.</a></p>
        <div class="possibly-unpublished">
          Falls sie inem Link hierher gefolgt sind, iset der verlinkte Eintrag vernutlich noch nicht veröffentlicht.
          Versuchen sie es in ein paar Wochen erneut.
        </div>
     </div>
 </div>
