{{- $hangers := .Site.Pages -}}
{{- range .Site.Home.Translations -}}
  {{- $hangers = $hangers | lang.Merge .Site.RegularPages -}}
{{- end -}}
<section class="entries">
  {{- range (where $hangers "Params.type" "eq" "hanger").ByDate -}}
    {{- $title := .Params.title -}}
    {{- partial "print/page.html" . -}}
  {{- end -}}
</section>

<section class="indexes">
  <h1 class="indexes"></h1>
  {{- $types := slice "place" "store" "retail_chain" "type" "feature" "purpose" "brand" "material" -}}
  {{- range $types -}}
    <article class="index-container">
      <h2 class="index-heading">{{ i18n (printf "%sIndex" .) }}</h2>
      {{- partial "print/index.html" . -}}
    </article>
  {{- end -}}
</section>
