{{- if hasPrefix .RelPermalink "/post" -}}
  {{- $page := . -}}

  {{- if and (ne .NextInSection nil) (ne .NextInSection.File nil) -}}
    {{- $no := path.BaseName .File.Dir -}}
    {{- $next := path.BaseName .NextInSection.File.Dir -}}
    {{- if and (findRE `(?m)^\d+$` $no) (findRE `(?m)^\d+$` $next) -}}
      {{- if ne (add (int $no) 1) (int $next) -}}
        {{- warnf "[check.html] Number and date might be wrong for %s (current %s, next %s)" $page.NextInSection.RelPermalink $no $next -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}

  {{- if or (eq .Date "") (eq .Date nil) -}}
    {{- errorf "[check.html] Date for %s not set!" .RelPermalink -}}
  {{- end -}}

  {{- if and (eq .Title "") (eq .Description "") -}}
    {{ warnf "[check.html] No title nor description for post %s" .RelPermalink }}
  {{- end -}}

  {{- if and (eq .Title "") (ne .Description "") -}}
    {{- if eq (len .Translations) 0 -}}
      {{ warnf "[check.html] Description given but no translation for post %s" .RelPermalink }}
    {{- end -}}
  {{- end -}}

  {{ if not (isset .Params "type") }}
    {{ errorf "[check.html] No type for post" .RelPermalink }}
  {{- end -}}

  {{- if and  (site.BuildDrafts) .Draft -}}
    {{- warnf "[check.html] Page is a draft %s" .RelPermalink -}}
  {{- end -}}

  {{- if ne .Params.type "text" -}}
    {{- if not (isset .Params "geojson") -}}
      {{- warnf "[check.html] GeoJson missing for %s" .RelPermalink -}}
    {{- end -}}
    {{ if isset .Params "tags" }}
      {{- $material := false -}}
      {{ range $tag := .Params.tags }}
        {{- if hasPrefix $tag "Material" -}}
          {{- $material = true -}}
        {{- end -}}
      {{ end }}
      {{- if not $material -}}
        {{- errorf "[check.html] Material missing for %s" .RelPermalink -}}
      {{- end -}}
      {{- $defaultLang := (index .Site.Languages 0).Lang -}}
      {{- if ne $defaultLang .Language.Lang -}}
        {{- range $tag := .Params.tags -}}
          {{- $tagTranslation := i18n $tag -}}
          {{- if eq $tagTranslation "" -}}
            {{- warnf "[check.html] Missing Tag translation for %s" $tagTranslation -}}
          {{- end -}}
        {{- end -}}
      {{- end -}}
    {{- else -}}
      {{ errorf "No tags for post" .RelPermalink }}
    {{- end -}}
  {{- end -}}
  {{- with .Resources.GetMatch "back*" -}}
    {{- if not (isset .Params "content") -}}
      {{- errorf "[check.html] Double sided hanger without description detected in %s" .RelPermalink  -}}
    {{- end -}}
    {{- if not (in $page.Params.tags "Beidseitig") -}}
      {{- errorf "[check.html] Double sided tag missing for %s" .RelPermalink  -}}
    {{- end -}}
  {{- end }}

  {{- if (strings.Contains .RawContent "[Auch Rückseite]") -}}
    {{- errorf "[check.html] Double sided tag detected in %s" .RelPermalink -}}
  {{- end -}}

  {{- if eq (len .Translations) 0 -}}
    {{- if (isset .Params "remarks") -}}
      {{- warnf "[check.html] Remarks set, but no translation for post %s" .RelPermalink -}}
    {{- end -}}
  {{- end -}}

  {{- if or (strings.Contains .RawContent "<div") (strings.Contains .RawContent "<a") -}}
    {{- if (isset .Params "source") -}}
      {{- errorf "[check.html] Source set for %s, but HTML detected" .RelPermalink -}}
    {{- else if (isset .Params "related") -}}
      {{- errorf "[check.html] Related set for %s, but HTML detected" .RelPermalink -}}
    {{- else if (isset .Params "remarks") -}}
      {{- errorf "[check.html] Remarks set for %s, but HTML detected" .RelPermalink -}}
    {{- else if (isset .Params "donation") -}}
      {{- errorf "[check.html] Donation set for %s, but HTML detected" .RelPermalink -}}
    {{- else -}}
      {{- errorf "Post contains HTML for %s" .RelPermalink -}}
    {{- end -}}
  {{- end -}}

  {{- range $tag := .Params.tags -}}
    {{- if ne $tag "" -}}
      {{- $tagUrl := printf "%s%s" "tags/" ($tag | urlize) -}}
      {{- $termPath := (urls.Parse $tagUrl).Path -}}
      {{- with site.GetPage $termPath -}}
        {{- if ne $tag .Title -}}
          {{- if or (not (isset .Params "tag")) (ne .Params.tag $tag) -}}
            {{- errorf "Tag doesn't match .Title and no tag param set!" .RelPermalink -}}
          {{- end -}}
        {{- end -}}
      {{- else -}}
        {{- $termPages := site.Pages -}}
        {{- range site.Home.Translations -}}
          {{- $termPages = $termPages | lang.Merge site.Pages -}}
        {{- end -}}
        {{- $termPages = where $termPages ".Kind" "eq" "term" -}}
        {{- $alias := printf "/%s" $termPath -}}
        {{- $termPages = where $termPages ".Aliases" "intersect" (slice $alias) -}}
        {{- $termPage := index $termPages 0 -}}
        {{- if ne $termPage nil -}}
          {{- warnf "[check.html] Term page for %s (file %s) from %s is an alias" $tag $termPath $page.RelPermalink -}}
        {{- else -}}
          {{- errorf "[check.html] Can't find term page for %s (file %s) from %s"  $tag $termPath $page.RelPermalink -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}


  {{- $page := . -}}
  {{- if (isset .Params "todo") -}}
    {{- warnf "[check.html] TODO for %s: %s" .RelPermalink .Params.todo -}}
  {{- end -}}
  {{- if (isset .Params "notes") -}}
    {{- warnf "[check.html] Notes for %s: %s" .RelPermalink .Params.notes -}}
  {{- end -}}
  {{- with .Params.related -}}
    {{- if not (reflect.IsSlice .) -}}
      {{- errorf "[check.html] Old style relation in %s detected!" $page.RelPermalink -}}
      {{- if not (strings.Contains . "#") -}}
        {{- errorf "Related dosn't contain # in %s" $page.RelPermalink -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
