
{{- if hasPrefix .RelPermalink "/post" -}}
  {{- $page := . -}}

  {{- if and (ne .NextInSection nil) (ne .NextInSection.File nil) -}}
    {{- $no := path.BaseName .File.Dir -}}
    {{- $next := path.BaseName .NextInSection.File.Dir -}}
    {{- if and (findRE `(?m)^\d+$` $no) (findRE `(?m)^\d+$` $next) -}}
      {{- if ne (add (int $no) 1) (int $next) -}}
        {{- warnf "Number and date might be wrong for %s (current %s, next %s)" $page.NextInSection.RelPermalink $no $next -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}

  {{ if not (isset .Params "type") }}
    {{ errorf "No type for post" .RelPermalink }}
  {{- end -}}

  {{- if and  (site.BuildDrafts) .Draft -}}
    {{- warnf "Page is a draft %s" .RelPermalink -}}
  {{- end -}}

  {{- if ne .Params.type "text" -}}
    {{- if not (isset .Params "geojson") -}}
      {{- warnf "GeoJson missing for %s" .RelPermalink -}}
    {{- end -}}
    {{ if isset .Params "tags" }}
      {{- $material := false -}}
      {{ range $tag := .Params.tags }}
        {{- if hasPrefix $tag "Material" -}}
          {{- $material = true -}}
        {{- end -}}
      {{ end }}
      {{- if not $material -}}
        {{- errorf "Material missing for %s" .RelPermalink -}}
      {{- end -}}
      {{- $defaultLang := (index .Site.Languages 0).Lang -}}
      {{- if ne $defaultLang .Language.Lang -}}
        {{- range $tag := .Params.tags -}}
          {{- $tagTranslation := i18n $tag -}}
          {{- if eq $tagTranslation "" -}}
            {{- warnf "Missing Tag translation for %s" $tagTranslation -}}
          {{- end -}}
        {{- end -}}
      {{- end -}}
    {{- else -}}
      {{ errorf "No tags for post" .RelPermalink }}
    {{- end -}}
  {{- end -}}
  {{- with .Resources.GetMatch "back*" -}}
    {{- if not (isset .Params "content") -}}
      {{- errorf "Double sided hanger without description detected in %s" .RelPermalink  -}}
    {{- end -}}
    {{- if not (in $page.Params.tags "Beidseitig") -}}
      {{- errorf "Tag missing for %s" .RelPermalink  -}}
    {{- end -}}
  {{- end }}

  {{- if (strings.Contains .RawContent "[Auch Rückseite]") -}}
    {{- errorf "Double sided tag detected in %s" .RelPermalink -}}
  {{- end -}}

  {{- if or (strings.Contains .RawContent "<div") (strings.Contains .RawContent "<a") -}}
    {{- if (isset .Params "source") -}}
      {{- errorf "Source set for %s, but HTML detected" .RelPermalink -}}
    {{- else if (isset .Params "related") -}}
      {{- errorf "Related set for %s, but HTML detected" .RelPermalink -}}
    {{- else if (isset .Params "remarks") -}}
      {{- errorf "Remarks set for %s, but HTML detected" .RelPermalink -}}
    {{- else if (isset .Params "donation") -}}
      {{- errorf "Donation set for %s, but HTML detected" .RelPermalink -}}
    {{- else -}}
      {{- errorf "Post contains HTML for %s" .RelPermalink -}}
    {{- end -}}
  {{- end -}}
  {{- $page := . -}}
  {{- if (isset .Params "todo") -}}
    {{- warnf "TODO for %s" .RelPermalink -}}
  {{- end -}}
  {{- if (isset .Params "notes") -}}
    {{- warnf "Notes for %s" .RelPermalink -}}
  {{- end -}}
  {{- with .Params.related -}}
    {{- if not (strings.Contains . "#") -}}
      {{- errorf "Related dosn't contain # in %s" $page.RelPermalink -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
