{{- $widthDesktop := 330 -}}
{{- $widthMobile := 165 -}}
{{- $hangers := .Site.Pages -}}
{{- range .Site.Home.Translations -}}
  {{- $hangers = $hangers | lang.Merge .Site.RegularPages -}}
{{- end -}}
<div id="schrank">
    <div id="klamotten">
        {{- partial "rail.html" . -}}
        <div class="swiper rail-container">
          <div class="swiper-wrapper">
            {{- range where $hangers "Params.type" "eq" "hanger" -}}
              {{- $title := .Params.title -}}
              {{- $front := .Resources.GetMatch "front*" -}}
              {{- $thumbDesktop := $front.Resize (printf "%dx webp picture" $widthDesktop) -}}
              {{- $thumbMobile := $front.Resize (printf "%dx webp picture" $widthMobile) -}}
              {{- $heightDesktop := $thumbDesktop.Height -}}
              {{- $heightMobile := $thumbMobile.Height -}}
              {{- $large := $front.Resize "1600x webp picture" -}}
              {{- $content := (partial "page.html" .) -}}
              {{- $id := printf "hanger-%s" (delimit (shuffle (seq 1 9)) "") -}}
              <div class="swiper-slide">
                <div class="swiper-slide-transform">
                  <div class="hanger-post-content" id="{{ $id }}" style="display: none;">{{ $content | safeHTML }}</div>
                  <picture>
                    <source media="(width <= 740px)" width="{{ $widthMobile }}" height="{{ $heightMobile }}" srcset="{{ $thumbMobile.RelPermalink }}">
                    <img width="{{ $widthDesktop }}" height="{{ $heightDesktop }}" loading="lazy" class="buegel" src="{{ $thumbDesktop.RelPermalink }}" alt="{{ .Title }}" data-image="{{ $large.RelPermalink }}" data-content-id="{{ $id }}"/>
                  </picture>
                </div>
              </div>
            {{ end }}
          </div>
          <div class="swiper-scrollbar"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>
      <div id="kleidungsstueck" class="popup-container"></div>
      <script>
        initHome(document.querySelector('.swiper'));
      </script>
</div>

{{- $hangers = where $hangers "Params.type" "eq" "hanger" -}}
{{- $hangers = where $hangers "Section" "in" "post" -}}
{{- $latest := (where $hangers "Page.Date" "ge" (now.AddDate 0 0 -7)).ByDate.Reverse -}}

{{- with $latest -}}
  {{- partial "week.html" . -}}
{{- end -}}

{{- $pages := where (where .Site.Pages "Params.displayInList" "!=" false) "Params.type" "eq" "text" -}}

{{- $paginator := .Paginate $pages -}}
<div class="post-list">
  {{- range $paginator.Pages  -}}
    {{ partial "page.html" . }}
  {{ end }}
</div>
{{ if or ($paginator.HasPrev) ($paginator.HasNext) -}}
  {{- partial "pagination.html" (dict "context" . "paginator" $paginator) -}}
{{- end }}
