{{- $hangers := .Site.Pages -}}
{{- range .Site.Home.Translations -}}
  {{- $hangers = $hangers | lang.Merge .Site.RegularPages -}}
{{- end -}}
<div id="schrank">
    <div id="klamotten">
        {{- partial "rail.html" . -}}
        {{- partial "swiper.html" $hangers -}}
      </div>
      <div id="kleidungsstueck" class="popup-container"></div>
      <script>
        initHome(document.querySelector('.swiper'));
      </script>
</div>

{{- $hangers = where $hangers "Params.type" "eq" "hanger" -}}
{{- $hangers = where $hangers "Section" "in" "post" -}}
{{- $latest := (where $hangers "Page.Date" "ge" (now.AddDate 0 0 -7)).ByDate.Reverse -}}

{{- with $latest -}}
  {{- partial "week.html" . -}}
{{- end -}}

{{- $pages := where (where .Site.Pages "Params.displayInList" "!=" false) "Params.type" "eq" "text" -}}

{{- $paginator := .Paginate $pages -}}
<div class="post-list">
  {{- range $paginator.Pages  -}}
    {{ partial "page.html" . }}
  {{ end }}
</div>
{{ if or ($paginator.HasPrev) ($paginator.HasNext) -}}
  {{- partial "pagination.html" (dict "context" . "paginator" $paginator) -}}
{{- end }}
