<div class="post-list">
  {{- $context := . -}}
  {{- $pages := . -}}
  {{- if reflect.IsMap . -}}
    {{- $context = .context -}}
    {{- $pages = .pages -}}
  {{- else -}}
    {{- $pages = .Pages -}}
  {{- end -}}

  {{ $paginator := $context.Paginate (where $pages "Params.displayinlist" "!=" false) -}}
  {{- range $paginator.Pages  -}}
    {{ partial "page.html" . -}}
  {{- end -}}
  {{- if or ($paginator.HasPrev) ($paginator.HasNext) -}}
    {{- partial "pagination.html" (dict "context" . "paginator" $paginator) -}}
  {{- end -}}
</div>
<div class="post spacer"></div>
