<div class="kleiderstange"></div>
<div class="post-list">

  {{- with .Data.Term -}}
    {{- $tag := i18n . -}}
    {{- if eq $tag "" -}}
      {{- $tag = . -}}
    {{- end -}}
    <div class="section-head">
      <h1 class="post-section section-head-title tag-list-title">{{ i18n "Tag" }}: {{ $tag }}</h1>
    </div>
  {{- end -}}

  {{ $pages := .Pages }}
  {{ $paginator := .Paginate (where $pages "Params.displayinlist" "!=" false) -}}
  {{- range $paginator.Pages  -}}
    {{ partial "page.html" . -}}
  {{- end -}}
  {{- if or ($paginator.HasPrev) ($paginator.HasNext) -}}
    {{- partial "pagination.html" (dict "context" . "paginator" $paginator) -}}
  {{- end -}}
</div>
<div class="post spacer"></div>
