<div class="kleiderstange"></div>
{{ $class := .Params.type }}
<div class="post {{ $class }}">
    <div class="content">
      <button class="close-hanger"></button>
      <h1 class="post-title">{{ .Title }}</h1>
      {{ if eq $class "hanger" }}
        <div class="hanger-front">
          {{- $front := .Resources.GetMatch "front*" -}}
          {{- $large := $front.Resize "1600x" -}}
          <img class="buegel-font hanger-img" src="{{ $large.RelPermalink }}" alt="{{ .Title }}"/>
        </div>
        {{- with .Resources.GetMatch "back*" -}}
            {{- $largeBack := .Resize "1600x" -}}
            <img class="buegel-back hanger-img" src="{{ $largeBack.RelPermalink }}" alt="{{ .Title }}"/>
        {{- end }}
      {{- end -}}
      {{ .Content }}
     </div>
    {{- if not .Params.hideMeta -}}
      <div class="meta">
        <div class="date">
            <a href="{{ .RelPermalink }}">{{- partial "date.html" . -}}</a>
        </div>
        <div class="meta-spacer">
            {{ if eq $class "hanger" }}
              {{- $hangers := (where (where .Site.Pages "Section" "post") "Params.type" "hanger").Reverse -}}
              {{- $position := 0 -}}
              {{- $search := .RelPermalink -}}
              {{- range $index, $element := $hangers -}}
                  {{- if eq $search $element.RelPermalink -}}
                      {{- $position = add $index 1 -}}
                  {{- end -}}
              {{- end -}}
              <div class="number"> {{ $position }} / {{ len $hangers }}</div>
            {{- end -}}
        </div>
        {{ if isset .Params "tags" }}
            <div class="tags">
                {{ range $tag := .Params.tags }}
                    <a href="{{ "tags/" | relLangURL }}{{ $tag | urlize }}" title="{{ $tag }}">#{{ $tag }}</a><br />
                {{ end }}
            </div>
        {{ end }}
        <div class="permalink"><a href="{{ .RelPermalink }}">Permalink</a></div>
      </div>
    {{- end -}}
</div>
