{{- $paginator := .paginator -}}
{{- with .context -}}
  <div class="navi">
    <div class="pagination">
      <div>
        {{- if $paginator.HasNext -}}
          <a class="next" href="{{ $paginator.Next.URL }}">{{ i18n "nextPage" | safeHTML }}</a>
        {{- end -}}
      </div>
      {{- $currentPage := $paginator.PageNumber -}}
      {{- $totalPages := $paginator.TotalPages -}}
      <div id="page">{{ i18n "page" }} {{ $currentPage }} {{ i18n "pageOf" }} {{ $totalPages }}</div>
      <div>
        {{- if $paginator.HasPrev -}}
          <a class="previous" href="{{ $paginator.Prev.URL }}">{{ i18n "previousPage" | safeHTML }}</a>
        {{- end -}}
      </div>
    </div>
  </div>
{{- end -}}
